[2017-02-10 16:24] Nokia808 opened #9 "[Wheather Desklet] This desklet not work, please fix it !"
Hi. I test this desk-let on my laptop. It did not work at all. After I installed it, there appear a red ! inside circle beside desk-let. When I put my mouse over this circle, a message appeared to me said "This extension sand system calls that can lead on certain system to crash DE. If it lead for this please uninstall it"

My system has RAM = 8 GB, & IntelCore i7 5500-U CPU @2.40 x 2 GHz

UUID: b

[2017-02-10 17:11] NikoKrause commented on #9
This red ! inside the circle doesn't mean, that this desklet is broken.
It means: "This extension uses system calls that can lead on certain system to crash DE. If it lead for this please uninstall it"

I have the circle as well and the desklet works fine for me on Linux Mint 18.1
Do you have any issues with this desklet except this warning?

If yes, which Linux version do you use?

About the Desk

[2017-02-10 18:05] Nokia808 commented on #9
Hi. Sorry for that.

1) you misunderstood me regarding "Desktop Capture" applet. I did not say it give me warning at this time ! I said it WAS IN THE PAST BEFORE YOU START TO FIX BUGS OF APPLET ! This what I meant. At that time (in past before fix) this applet crash my Cinnamon. For that I post this issue when I saw the warning in Weather Desklet (without test it because already I crashed in PAST

[2017-02-10 20:46] JosephMcc commented on #9
@Nokia808 The warning is just a heads up. If you use the desklet and then start encountering issues like desktop freezing or crashing you should disable the desklet and see if the problems persisit.

[2017-02-10 21:28] #9 closed

[2017-02-11 21:39] Nokia808 opened #10 "simple-system-monitor@ariel: Desklet not work if no internet connection at launching PC"
Hi. I tried this desklet. It work for me after installation. But it has issue:
   If I launched my laptop & internet is ON, then no problem. Desklet appear on screen & work.
   But if I launched laptop & no Internet connection then an error message appear saying: "Cinnamon undergo error due to one of applet or extension not worked. Disable this applet or extension to avoid this message". In this c

[2017-02-11 22:45] JosephMcc commented on #10
Fixed the issue title to use proper formatting. Don't think the dramatic !! are really needed either.

[2017-02-12 03:49] Nokia808 commented on #10
By the way, my system is:
Fedora 24 x64 bit Cinnamon edition on Lenovo ThinkPad e550 with 8GB RAM + Inter Core i7-5500U CPU @ 2.40GHz x 2

[2017-03-03 05:59] fbm224 opened #13 "Compatibility with Cairo Clock Themes"
Hello,
FIrst thank you for this applet!
I think it would be great if it were compatible with the Cairo Clock Themes. I have no idea if it's even possible.
https://www.gnome-look.org/browse/cat/208/ord/top/

Best Regards
Felipe

[2017-03-03 14:05] Cobinja commented on #13
That's not a mail address, it's the desklet's UUID ;)
I'm already evaluating that. It may or may not come in a future version.

[2017-03-03 14:11] fbm224 commented on #13
Great, thank you. Let me know if I can help with some liftwork. Not a
really a programer.

El 03/03/17 a las 08:05, Lars Mueller escribió:

[2017-03-12 01:33] arielandrade commented on #10
Sorry for the delay, I'll take a look at it.

[2017-03-20 01:44] ghardy2k opened #16 "Analog Clock doesn't show up in Mint 17.3"
this seems to be a newer version, but doesn't show up in mint 17.3.   the clock is there, but not visible.

[2017-03-20 01:50] collinss commented on #16
@ghardy2k please include the applet desklet or extension in the title of the issue, along with a brief description of the issue. It will be impossible to keep track otherwise. Also, you should reference the author in your description so they get notified.

[2017-03-20 02:10] ghardy2k commented on #16
analog-clock@cobinja.de - love it, but recently stopped working.  i used to have mint 18, but something kept making my screen blank out, so i went back to 17.3.  this time, the clock stopped working, or at least showing up.  the clock is actually there....i can click it, move it, etc, but it simply isn't visible.

[2017-03-20 02:13] ghardy2k opened #17 "Analog clock not visible in Mint 17.3"
analog-clock@cobinja.de - Analog Clock

in mint 17.3, i can click it, move it, get to settings...but it is not visible on the desktop.

[2017-03-20 11:48] Cos-mo commented on #17
Works fine here on Mint 17,3.

Do you have the package gir1.2-rsvg-2.0 installed?

[2017-03-21 06:58] Cobinja commented on #16
As the desklet's creator, I'm working on it

[2017-03-21 06:58] Cobinja commented on #17
Duplicate of #16, closed here

[2017-03-21 06:58] #17 closed

[2017-03-21 15:24] ghardy2k commented on #16
i wish i knew more about building projects, gtk, and tesitng in linux.  i would love to help out testing and stuff.  but i'm a .net developer, so i really don't know the linux side too well.

[2017-03-21 20:40] Cobinja commented on #16
Fixed with https://github.com/linuxmint/cinnamon-spices-desklets/commit/672f3753b0a7997108eca0c4009f9ef75ab59593

[2017-03-22 00:12] ghardy2k commented on #16
that did the trick!  you da man!  thanks so much!

[2017-03-22 02:21] #16 closed

[2017-04-02 13:10] NikoKrause opened #20 "clock@schorschii: Smooth seconds hand option wording"
@schorschii
The option `Smooth seconds hand` is not only affecting the seconds hand, but also the minute hand and the hour hand:
The first picture is with smooth option on and the second picture with the smooth option off (approx. same time +-10 seconds)
![screenshot-cinnamon-2017-04-02-145036](https://cloud.githubusercontent.com/assets/8415124/24587409/3bc20f96-17b6-11e7-8475-b80dc217d31e.png)
![

[2017-04-02 13:34] NikoKrause opened #21 "clock@schorschii: clock looks blurry if scaled"
@schorschii
If you scale the clock it looks blurry.
If you would use vector graphic images (.svg files) this issue would be solved.

[2017-04-02 13:40] NikoKrause opened #22 "clock@schorschii: desklet label not visible"
@schorschii:
I don't see no desklet label at all.

[2017-04-03 18:11] schorschii commented on #22
Hi @NikoKrause
desklet labels are only shown if you enable decorations in cinnamon.
![1](https://cloud.githubusercontent.com/assets/17480795/24623677/88ef143c-18a9-11e7-801e-39cff915d0a4.png)

[2017-04-03 18:17] schorschii commented on #21
@NikoKrause I'm aware of that, the default image is not suitable for scaling (> 1.0). But I wanted to add this possibility if the user uses his own image. A vector graphic as default image will follow in a future version.

[2017-04-03 18:19] schorschii commented on #20
@NikoKrause Thanks for this hint. I will correct the setting description in the next version.

[2017-04-03 18:42] NikoKrause commented on #22
Where can I enable decorations?

[2017-04-05 15:47] schorschii commented on #22
@NikoKrause Go to desklet settings > General Settings > Decoration of desklets > Border and header

[2017-04-07 07:10] #20 closed

[2017-04-07 07:11] #21 closed

[2017-04-09 08:50] schorschii commented on #22
@NikoKrause Could you please close this issue?

[2017-04-09 09:01] #22 closed

[2017-04-09 09:46] #10 closed

[2017-04-12 15:14] 4current opened #26 "Weather Underground desklet enhancements."
I don't know how to contact Nightflame. However, his (Steve's?) desklet has not been updated since 2013 along with his somewhat apologetic README. So I thought I would take the opportunity to get started as a contributor. I've already submitted my pull request.

[2017-04-15 06:38] brownsr commented on #26
Thanks for your PR @4current , now merged.  Keep them coming !

[2017-04-15 06:38] #26 closed

[2017-04-16 20:03] brownsr opened #27 "bbcwx@oak-wood.co.uk: various warning messages"
@tipichris This desklet throws a number of warning messages (found in .xsession-errors):

Cjs-Message: JS WARNING: [/home/simon/.local/share/cinnamon/desklets/bbcwx@oak-wood.co.uk/desklet.js 3100]: anonymous function does not always return a value
Cjs-Message: JS WARNING: [/home/simon/.local/share/cinnamon/desklets/bbcwx@oak-wood.co.uk/marknote.js 90]: anonymous function does not always return a v

[2017-04-25 14:58] NikoKrause opened #37 "battery@schorschii: more than 100%"
Look at the screenshot. I'm using Linux Mint 17.3 Cinnamon 2.8.8

@schorschii

![screenshot-area-2017-04-25-165640](https://cloud.githubusercontent.com/assets/8415124/25392202/4e9a6382-29d8-11e7-8d74-3843849ea88a.png)

[2017-04-25 14:59] NikoKrause commented on #37
@schorschii
And another one:
![screenshot-area-2017-04-25-165640](https://cloud.githubusercontent.com/assets/8415124/25392285/92489c48-29d8-11e7-83f9-e79692099c6b.png)

[2017-04-26 17:16] schorschii commented on #37
Could you please provide the content of /sys/class/power_supply/BAT1/capacity? (BAT1 could also be BAT0 or CMB1)
Are you using the newest version (released 3 days ago)?

[2017-04-26 17:20] NikoKrause commented on #37
I refreshed the list. It's the newest version. It only happens, when the battery is 100%.

It's BAT0 and the content is `448`.

[2017-04-26 17:44] schorschii commented on #37
Thanks. I guess that **charge_now** is higher than **charge_full_design** and **capacity** is calculated by these values. So I have to calculate the capacity myself using **charge_now** and **charge_full**.
Could you please provide all these values when the battery is at 100%?

[2017-04-26 17:46] NikoKrause commented on #37
How do I do this?

[2017-04-26 17:55] schorschii commented on #37
The mentioned files are also in this directory: /sys/class/power_supply/BAT0 beside the capacity file

[2017-04-26 17:58] NikoKrause commented on #37
charge_now: 8739000
charge_full: 1948000
charge_full_design: 8739000
capacity: 448

[2017-04-26 18:04] schorschii commented on #37
Great. I'm going to release a fix for that soon.

[2017-04-26 18:06] NikoKrause commented on #37
@schorschii
A quick sidenote. I just translate your desklet. There's this line in the settings-schema
[code]
That's a nightmare for a translator. The problem is, that if you change the version number, it's a whole new string to translate. Over and over again.

I'd recommend to add
[code]
in the metadata.json instead. It'll be shown in the "About..." Dialog

[2017-04-26 18:21] schorschii commented on #37
Ooops. Didn't know that. I'll improve that.

[2017-04-26 23:39] NikoKrause commented on #37
Thanks! It works now.

[2017-04-26 23:39] #37 closed

[2017-05-05 16:43] tipichris commented on #27
Just to say I'm not ignoring this, but have a pile of other stuff to do first.

[2017-05-08 08:14] NikoKrause commented on #27
Should this be closed now?

@tipichris fyi
You can close issues through PR, if you add closes #27 or fixes #27 in the PR. When the PR gets merged, the issue will be closed.

[2017-05-08 09:04] tipichris commented on #27
As far as I know this should now be resolved. But I'm still using Cinnamon 2.6—it should probably be tested by someone with a more up-to-date installation.

[2017-05-09 18:42] Ilis opened #118 "quoteOfTheDay@tinnu: doesn't work"
@tinnu

Worked first time immediately after installation.

When file from /usr/share/games/fortunes/ was chosen (i. e. literature), desklet appears as small empty box. Click on it does nothing. There are no way to unchose file in settings.

[2017-05-09 19:48] JessW commented on #118
Hi there, could you let me know what version of Mint and Cinnamon you are using?  Also, does ~/.cinnamon/glass.log show errors related to this desklet?  Thanks!

[2017-05-09 20:14] JessW opened #119 "Is citationsfr@mrvaykadji redundant with quoteOfTheDay@tinnu?"
I just noticed the citationsfr desklet, and I'm wondering if it is redundant with the quoteOfTheDay desklet?  It looks like the author of citationsfr couldn't be easily found on github (I'm the original author of the quoteOfTheDay desklet).  A quick look through the French README didn't seem to indicate any major differences from the original desklet, although my French is a bit rusty.  Now that t

[2017-05-10 14:56] Bleuzen opened #120 "simple-system-monitor@ariel: Always displays Temperature 27.8 °C"
... I already did some tests myself ...
[code]
which is used by the desklet always is 27.8.
But it works if I replace thermal_zone0 by thermal_zone2 in metadata.json.
[code]

Please provide a setting for this or detect the right thermal_zone automatically (for example by checking for changes under high cpu usage).

[2017-05-10 17:26] Ilis commented on #118
Hi, @JessW

ilis@deore ~ $ inxi -xxxSc0 -! 31
System:    Kernel: 4.4.0-72-generic x86_64 (64 bit gcc: 5.4.0)
           Desktop: Cinnamon 3.2.7 (Gtk 3.18.9-1ubuntu3.3) dm: mdm Distro: Linux Mint 18.1 Serena

~/.cinnamon/glass.log
info t=2017-05-10T17:19:00.515Z Loaded desklet quoteOfTheDay@tinnu in 241 ms
info t=2017-05-10T17:19:00.519Z Cinnamon took 5010 ms to start
no errors

Also, fortunes-ru p

[2017-05-10 21:09] JessW commented on #118
Thanks for the info, @Ilis

I don't think I've tested it with Cinnamon 3.2, but I do think it might be a language issue.  Do you also have the English fortunes package installed, out of curiosity? I noticed just yesterday that there is a French version of this applet, which is what makes me think this one might not work correctly with other languages.  I will check it out when I get a chance, it m

[2017-05-11 00:59] JessW commented on #118
@Ilis If you can, could you add a screen shot of the configuration window, or let me know the path of the file you have selected?  I was able to test the desklet with a randomly selected file from fortunes-ru:
/usr/share/games/fortunes/ru/drink
and it worked, but I am using Cinnamon 3.0.7.  I am not quite sure what you mean by "There are no way to unchose file in settings." in your first comment.

[2017-05-11 04:53] Ilis commented on #118
@JessW ,
I used to chose different files, i. e.
/usr/share/games/fortunes/ru/computer
/usr/share/games/fortunes/literature

“no way to unchose” means that after fresh install no file is chosen, and if you chose one of files, you can't make this field empty, you just can choose one other file (and feature request is make possible multi files selection :) )

I'll make screen shot later, as soon as p

[2017-05-11 17:12] Ilis commented on #118
![2017-05-11_22-07-49](https://cloud.githubusercontent.com/assets/1223140/25962265/7aa14584-3696-11e7-921e-87a693e4134a.png)

Here are my screen shot. Small box to the left of settings window is a desklet :)

[2017-05-11 18:45] JessW commented on #118
@Ilis Thank you for the screenshot. It looks like a lot has changed in the recent Cinnamon releases. The good news is that I can reproduce the bug. I had an easier time getting Cinnamon 3.4, so I will work on it there, and hopefully that will fix the problem for you as well. Will let you know when I have something you can try, if you'd like.

Thanks so much for letting me know it's so broken!

[2017-05-11 19:21] Ilis commented on #118
@JessW , thank you and hope you will keep me informed. When desklet will work, I make localization for it.

[2017-05-11 20:01] NikoKrause commented on #120
@Bleuzen You should mention the author on GitHub by typing @ plus his/her username to trigger a notification and bring his/her attention to an issue or pull request.

You find the username of the author on the cinnamon spices website: spices.linuxmint.com/desklets

[2017-05-11 20:16] NikoKrause commented on #119
I noticed this as well. It seems, that it's a mix of Quote of the Day and Command of the day. But in French.
The problem right now is that all quotes are still in English. It would be great, if you could guide the user to install a localized version of fortune in his language, then it would be redundant.

Can you also send a pull request and fix the author info:
https://github.com/linuxmint/cinnam

[2017-05-12 15:50] Bleuzen commented on #120
@arielandrade

[2017-05-12 16:36] arielandrade commented on #120
Hello @Bleuzen, as far as I know, the thermal sensor file varys according to the kernel version that you are using, and therefore it's a desklet's setting (that's why you find it in the metadata.json file).
However, as you correctly point out, a good desklet should allow to change it's settings via GUI, and this one currently doesn't.
So, I'll try to develop a settings manager for the desklet as s

[2017-05-12 16:39] Bleuzen commented on #120
Ok ;)

[2017-05-12 16:39] #120 closed

[2017-05-12 17:43] JessW commented on #119
Thanks, @NikoKrause, those are both great suggestions, will do!

[2017-05-12 17:44] JessW commented on #118
That would be fantastic, @Ilis !
Will keep you posted.

[2017-05-17 14:20] JessW commented on #118
Hi @Ilis, I think I've fixed the problem, at least the desklet works correctly in Cinnamon 3.4 now.  Since I haven't tested in with Cinnamon 3.2, would you be willing to test it out before I submit the pull request?  My changes are here:
https://github.com/JessW/cinnamon-spices-desklets

If you put the contents of
cinnamon-spices-desklets/quoteOfTheDay@tinnu/files/quoteOfTheDay@tinnu/
in

[2017-05-17 18:29] Ilis commented on #118
@JessW , well, I put files from 3.2 folder of your repository to my local folder, desklet crashed with log message "metadata.js not found". I added that file from upper folder of repository and desklet started do the job.

When I change quotes file in settings, new quotes are shown.

Unfortunately, background is not transparent:

![2017-05-17_23-22-24](https://cloud.githubusercontent.com/assets/12

[2017-05-17 19:05] Ilis commented on #118
I'm very sorry, background is not transparent when settings window is opened. Elsewhere it is transparent.

So, only metadata.js needed...

[2017-05-18 13:35] JessW commented on #118
That's great!  I was puzzled why it wouldn't be transparent.  I don't see that in Cinnamon 3.4, but I guess it's kind of a nice feature to show what is being configured.

My understanding is that when the desklet is installed in the regular way, everything in
cinnamon-spices-desklets/quoteOfTheDay@tinnu/files/quoteOfTheDay@tinnu/
will be included, even if you are running Cinnamon 3.2+  If you chec

[2017-05-20 16:50] Ilis commented on #118
It doesn't work after last update. Glass log has no errors.

[2017-05-20 21:59] JessW commented on #118
Hm, does ~/.xsession-errors have any related errors, and do you happen to
know what was updated? Is there just no quote displayed? I'm ​bummed to
hear it's stopped working.

It might be a few days, but I will see if I have updates on my Cinnamon 3.4
system to see if it stops working there, too. Thank you for letting me know!

On Sat, May 20, 2017, 11:50 AM Илья Кругликов <notifications@github.com>

[2017-05-21 09:38] Ilis commented on #118
Hi, @JessW !
It was work when installed from 3.2 folder of your repository. Now I updated it from Spices repository (using standard update button of Preferences → Applets). I think it will work for me if I update it from your repository again, but it will not work for other 3.2 Cinnamon users.

[2017-05-22 14:00] JessW commented on #118
@Ilis I see, I see.  That is totally my fault.  I have one more test I want to run before I make the pull request to the main Spices repo, and I just haven't gotten to it yet.  Soon, I hope!

Thank you also for your translation, I really appreciate it!

[2017-05-27 19:01] Ilis commented on #118
Finally it works!

Thank you, @JessW !

[2017-05-27 19:16] JessW commented on #118
I'm glad to hear it!  Thank you for bringing it to my attention, @Ilis :)  Can you close the issue too, when you get a chance?

[2017-05-27 19:24] JosephMcc commented on #118
Done :)

[2017-05-27 19:24] #118 closed

[2017-05-27 19:26] JessW commented on #118
Thank you!

[2017-05-28 12:03] Ilis opened #128 "quoteOfTheDay@tinnu: percent issue"
Hi, @JessW !

Since Quotes started to work in common, here it is minor problem:
Quote

displayed as:

It is a quote by Thomas Edison:

% sign treated as quote delimiter, but only single % sign per line should do.

[2017-05-28 14:27] JessW commented on #128
You're right, @Ilis , I will take a look, thank you!

[2017-05-29 06:14] Ilis commented on #128
I found out that quotes extracted from file by counting delimiters and parsing it.

Maybe it's easier and better to call `fortune` with file name as a parameter?

[2017-05-29 13:35] JessW commented on #128
Yes, that's how it works now, it's not very neat.  That sounds like a great suggestion.  Doing it that way would also solve the problem of the scary red exclamation mark that is displayed for this desklet in the Desklets window, because it currently reads the file with get_file_contents_utf8_sync.  I will give it a try as soon as I get a chance.

I think I initially wanted to allow for a different

[2017-05-29 17:26] Ilis commented on #128
Well, I tried to use my own file, copied from fortune package and edited to fix some typos, but get error message:

    ilis@deore ~ $ fortune ~/mygen
    fortune:/home/ilis/mygen not a fortune file or directory
    fortune:/home/ilis/mygen not a fortune file or directory
    No fortunes found

But I found that file must be prepared:

    ilis@deore ~ $ strfile mygen mygen.dat
    "mygen.dat" crea

[2017-05-29 17:40] Ilis commented on #128
By the way, `strfile` has option to change delimiter character :)

[2017-05-29 18:46] JessW commented on #128
Yep, I ran into that too! I was thinking of putting instructions for custom
files in the README. That is great that strfile will let you change the
delimiter!

On Mon, May 29, 2017, 12:40 PM Илья Кругликов <notifications@github.com>
wrote:

[2017-06-06 13:38] JessW commented on #128
Hi @Ilis !  I submitted a fix for this issue that uses your idea of just calling fortune (thank you!) a couple of days ago.  When you get a chance, could  you see if it solves your issue?  You should just be able to update the desklet the regular way, through the Desklets dialog.  Thanks!

[2017-06-06 17:10] Ilis commented on #128
Well, @JessW !

Great job!

I clicked desklet 500 times and got fortune with “%” sign :) So, call to `fortune` works. One more thing is to check `fortune` installed when desklet start. I. e. check error code for `fortune -v`. If not zero, then warn user about to install appropriate packages (program and localized fortunes).

And maybe some instructions for using fortunes in user language and custo

[2017-06-06 17:46] Ilis commented on #128
I've just noticed the number of fortune variants become much more. I saw a lot of fortunes from the same file I didn't seen before. Maybe it was a bug of previous version, or maybe I was unlucky :)

[2017-06-07 14:14] JessW commented on #128
I'm glad to hear it works for you too!  It did cross my mind to check if fortune is installed, but then I thought since it's installed by default I wouldn't check.  But maybe that isn't even true for some localizations, and I think you are right, it would just be a better practice to check if it's installed, so I will add it.

Yes!  I have been meaning to add instructions for installing additional

[2017-06-07 15:27] Ilis commented on #128
Hi, @JessW

Yes, I did see it after I wrote my comment :)

Fortune game can show fortunes from set of files or even all files from given directory. Desklet can show fortunes only from one file, and fortunes becomes a bit annoying. So, my suggestion is give instruction about how to get fortunes from many files. Something like this:

If you want to make your own set of fortunes, copy your favourite

[2017-06-08 14:15] JessW commented on #128
I do remember you mentioning earlier that allowing multiple input files would be a nice feature, @Ilis :)  I like your instructions, I will work them in to the readme in the next update.  Your English is very understandable, really!

[2017-06-08 15:52] Ilis commented on #128
Formally, this issue is closed, bug doesn't exists now. I have button “Close and comment“, but I'm not sure about who should close the issue: issue starter, desklet author, repository owner or whoever?

[2017-06-08 21:26] JessW commented on #128
I don't have the button, I think you can close it, or tag one of the report owners?

[2017-06-09 04:07] #128 closed

[2017-06-09 05:05] Ilis commented on #119
@JessW @NikoKrause

Now **Quote of the Day** use `fortune` to get quote.

* **citationsfr** works just like older version of **Quote of the Day**, but includes one file with fr-quotes
* **Command of the day** works like newer version of **Quote of the Day**, but like `fortune` called without any parameters (it gives user one quote out of all quotes files in users language if fortunes-XX installed

[2017-06-15 00:38] JessW commented on #119
@logg

Thanks for wading through Command of the Day to see how it works, @Ilis !  I would say at the very least the name is misleading, as the readme for the desklet explains it was really just created to allow the author to run `fortune -o`, and I wonder if it has been tested with any other commands.

I am a little hesitant to add a setting to Quote of the Day to make the input file optional.  I

[2017-06-15 13:53] JessW commented on #119
Okie dokie, so.

1. Yesterday I added some instructions to the README about installing fortunes for the user's locale.  I like your idea to add a hint in the Preferences dialog to go check the readme for help with this.
2. I also added some more instructions for creating a custom input file, based on your example of combining multiple existing fortune files (thank you!)
3. I will add a text box to

[2017-06-15 14:18] #27 closed

[2017-06-15 17:07] Ilis commented on #119
Well, I try to explain it on my own experience.

`fortune` is my favourite “game” from that times when I used Linux via terminal. I used it as session greeter, I used it as source of some portion of text in my scripts, I used it in pipes, i. e. `fortune | cowsay`. Then every time I install new instance of Linux I starting terminal and issue a fortune command.

At the beginning I was glad I start `

[2017-06-15 17:12] Ilis commented on #119
Now it seems to me QotD can be GUI for `fortune` with ability to show fortunes on screen using nice fonts!
![2017-06-15 22-10-42](https://user-images.githubusercontent.com/1223140/27193234-8bed38d8-5217-11e7-944a-a1a61f7ba685.png)

[2017-06-30 06:36] TopView opened #168 "Developer's Tools desklet - Styling on Cinnamon is hard to read (light green text on light gray)"
Have used and loved this thing for quite some time on Debian Jessie w/ Cinnamon, but when I upgraded today the stying turned funky on me.

My current desktop theme: BlueMenta  (or any of the blue or green background themes below).

Update: If I choose Cinnamon theme this is a workaround and it displays black on white.

The blue and green themes seem to cause this issue:

![screenshot-area-2017-06-

[2017-07-03 19:22] NikoKrause commented on #168
Which desklet are you talking about? Add it in the title.
And which theme do you use?

[2017-07-03 20:13] NikoKrause opened #169 "simple-system-monitor@ariel: desklet crashes on Cinnamon 3.4"
@arielandrade
Your desklet crashes on Cinnamon 3.4.

It's having problems with
[code]
being in `try-catch-blocks`.

If you remove the try-catch-block the desklet works (if you have the needed packages installed.)
I think it's because of the new js interpreter in Cinnamon 3.4.

Maybe @jaszhix knows more about it.

[2017-07-03 21:09] arielandrade commented on #169
Thank you @NikoKrause, I'll check it ASAP

[2017-07-04 07:13] jbreda007 opened #171 "desklet too large onmint 18.2 upgrade"
Updated to Mint 18.2 and deklet is too large for desktop.  Twice the size of deklet on mint 18.1.

[2017-07-04 11:01] DanielCoffey opened #172 "CobiAnalogClock : Seconds hand visible on loading when disabled"
@Cobinja

BUG : The Seconds hand is visible on the clock when starting Mint even when it has been disabled in the desklet settings in a previous session.

Version : 2017-06-13 15:20:02 UTC

Steps to reproduce :

1. Add Analog Clock to Desktop and select Default theme
2. Right-click the desklet and select Settings
3. Untick "Show Seconds" then click Apply
4. The seconds hand correctly disappears
5.

[2017-07-04 12:40] collinss commented on #171
Without knowing which desklet you are talking about, we can't help you. Please be sure to include that information in all bug reports.

[2017-07-04 12:40] #171 closed

[2017-07-04 13:15] jbreda007 commented on #171
sorry it is the calculator

[2017-07-04 19:24] #169 closed

[2017-07-04 19:25] NikoKrause commented on #172
Which desklet are you talking about? Add it in the title.

[2017-07-04 19:33] NikoKrause commented on #168
Aren't those MATE themes? Do they work properly on Cinnamon?
I'd say this is a theme issue and not a desklet issue. You should bug report against the themes.

[2017-07-04 19:35] NikoKrause commented on #172
Also:
You should mention the author on GitHub by typing @ plus his/her username to trigger a notification and bring his/her attention to an issue or pull request. You find the username of the author on the cinnamon spices website: https://cinnamon-spices.linuxmint.com/

[2017-07-04 20:25] collinss commented on #168
@NikoKrause afaik, it's not possible to use a MATE theme in Cinnamon. That being said, it is a theme issue. Devtools uses it's own styling to make sure things are readable no matter what theme is being used, so it shouldn't be getting any styling info from the desktop theme. It looks like the theme in question is overriding something in the desklet style classes, which it shouldn't be.
I went ahea

[2017-07-04 20:25] #168 closed

[2017-07-04 20:44] DanielCoffey commented on #172
Cheers - done.

[2017-07-08 10:47] #172 closed

[2017-07-13 01:39] JessW commented on #119
I don't think I saw your screenshot before, @Ilis , it's lovely!

I just sent a pull request with the advanced configuration options that we talked about awhile back.  Once the update is available, let me know what you think if you get a chance!  (Apologies for the delay.)

[2017-07-15 08:33] Ilis commented on #119
Hi, @JessW

I checked new configuration options, it seems they work.

So, main thing of this issue is closed. Installing fortune-fr or choosing appropriate file can fully replace `citationfr` and has extra functionality. The same about `Command of the day`.

Thank you for this nice desklet!

[2017-07-15 08:36] Ilis opened #178 "quoteOfTheDay@tinnu: 3.2 or 3.4"
While I upgrade my Mint to 18.2 and Cinnamon to 3.4 version, I noticed that `stylesheet.css` take effect only from 3.2 folder. It is weird.

[2017-07-15 09:38] Ilis commented on #119
@JessW , please, would you update *.pot for new items to localize?

[2017-07-15 15:08] Ilis commented on #178
@JessW

[2017-07-16 00:49] JessW commented on #178
Hi @Ilis , are you saying the issue is that a `stylesheet.css` in QoTD's 3.4 folder doesn't work?

I don't think a 3.4 folder should have been automatically created, was there one?  My understanding is that there will not be a folder for each release of Cinnamon unless there needs to be.  So since the same version of QoTD works for 3.2 and 3.4 (but not 3.0 and earlier), there is only a 3.2 folder,

[2017-07-16 00:55] JessW commented on #119
@Ilis , thank you for checking the new options, I'm glad to hear they work for you too!

@NikoKrause , I've updated the Quote of the Day desklet with some instructions for installing localized fortune files, in case you think that might be enough to deprecate citationsfr?  I also added options to pass flags to `fortune` when running Quote of the Day, possibly making Command of the Day redundant al

[2017-07-16 00:56] JessW commented on #119
@Ilis , I'll definitely update the *.pot file, I didn't realize I needed to do that!

[2017-07-16 06:25] Ilis commented on #178
Hi, @JessW

I have 2 `stylesheet.css` in my `.local/share/cinnamon/desklets/quoteOfTheDay@tinnu/`

- `/stylesheet.css`
- `/3.2/stylesheet.css`

I've made changes (add font-family) in `/stylesheet.css`, with no effects. I decided to open issue, but first tried to make changes to `/3.2/stylesheet.css`, ant it works.

So, I don't understand why I have to use `/3.2/stylesheet.css`, when I have 3.4 cin

[2017-07-16 14:33] JessW commented on #178
I see what you're saying, @Ilis .  The way that the xlet versioning works in Cinnamon is that versions 3.2 **and greater** use the 3.2 folder, while versions less than 3.2 use the folder with no version number.  I agree that it can be confusing, and I can add some information about which `stylesheet.css` to change to the README, but otherwise I don't think this is an issue.

[2017-07-16 15:13] Ilis commented on #178
Oh... It is really confusing :)

But it is better to make option for font selection in preferences dialog, then instruction about weird versioning.

I'll close this issue.

[2017-07-16 15:13] #178 closed

[2017-07-18 20:36] NikoKrause commented on #119
If you think that those applets are redundant, can you create a PR, which deletes those applets?

[2017-07-21 00:52] JessW commented on #119
@NikoKrause Sure, will do.

On Tue, Jul 18, 2017, 3:36 PM NikoKrause <notifications@github.com> wrote:

[2017-07-31 15:58] SerafDosSantos opened #180 "[analog-clock@cobinja.de] Cinnamon crashes when desklet is moved"
@cobinja.de

New install of Mint 18.2. Didn't happen on new install of Mint 18.1.

When the clock is moved on the desktop it doesn't take long for Cinnamon to crash. *Doesn't happen with other desklets*.

Kernel: 4.8.0-58-generic x86_64
Desktop: Cinnamon 3.4.4 (Gtk 3.18.9-1ubuntu3.3)

**Don't ask to submit logs, I won't submit them.**

[2017-08-01 13:43] Cobinja commented on #180
Sorry, I can't reproduce this.
And since you're obviously unwilling to provide logs: Have a nice day!

[2017-08-01 13:43] #180 closed

[2017-08-29 17:04] Ilis opened #184 "quoteOfTheDay@tinnu: shadow doesn't rendered until mouseover"
@JessW

Hi there!

I'm about old issue. Text shadow doesn't rendered after startup until mouse moved over desklet.

I have suggestion for workaround. First desklet canvas can has some neutral text, i. e. “QotD loading...”. Then properties read from settings and css file, and then, after all desklet properties set, real quote set as desklet text. It will trigger to rerender desklet with all setting

[2017-08-31 15:47] JessW commented on #184
Hi @Ilis !

I would like to give that a try, thank you for suggesting it!  I'm expecting a baby (#3!) in a matter of weeks, so I'm not quite sure if I'll be able to soon, but I will get to it if I can.

[2017-09-26 16:06] NikoKrause commented on #119
Closed by https://github.com/linuxmint/cinnamon-spices-desklets/pull/198

[2017-09-26 16:06] #119 closed

[2017-10-06 10:32] abrianceau opened #201 "googleCalendar@javahelps.com unable to retrieve events"
[code]

**Notify author of desklet**
@slgobinath

**Issue**
After following instruction, all is OK with gcalcli but my desklet show "Unable to retrieve events".

[code]

[2017-10-06 11:13] slgobinath commented on #201
Hi,

The problem is the warning message printed before the agenda. Could you please try the following command from the terminal and let me know the output?

[code]

I just want to see whether you get such a warning or not.

[2017-10-06 13:49] abrianceau commented on #201
No warning without the option --detail_length :

[code]

[2017-10-06 15:10] abrianceau commented on #201
I tested my modifying directly my desklet.js file, it works :)

Thanks !

[2017-10-06 15:10] #201 closed

[2017-10-09 09:38] abrianceau opened #203 "googleCalendar@javahelps.com unable to retrieve events on calendar name"
[code]

**Notify author of desklet**
@slgobinath

**Issue**
Unable to retrieve events when we set a calendar name.

**Steps to reproduce**
Add a calendar name in settings

**Other information**
I think the problem is that you put calendar's names at the end of the command (I read the function on_calendar_config_changed) instead of the begining :
[code]

[2017-10-09 22:20] slgobinath commented on #203
Hi,
I do use calendars in my system. It is okay to change the order if that fixes your problem but I wonder why you get these problems. May I know your `gcalcli` version?

In my case, it is 3.3.2
[code]

[2017-10-11 07:00] abrianceau commented on #203
Hi ! My version :
[code]

[2017-10-21 08:26] abrianceau commented on #203
Do you need more informations in order to update the code for the new synthax of gcalcli ?

[2017-10-21 14:16] slgobinath commented on #203
Hi,
Sorry, I forgot to update you back. I think you have installed `gcalcli` using pip3 (for Python 3). When I use pip3, I couldn't get it installed on my Linux Mint 18.2 machine.

The `gcalcli` available for Python 2 and the version available on Ubuntu repository works without any issues. Further, I remember changing the order with Python 2 version, caused to a similar problem. Could you please t

[2017-10-23 09:24] abrianceau commented on #203
I installed through `apt-get` on Debian Sid.
[code]
Maybe you should modify your apps for this new version because, sooner or later it will become the standard :)

[2017-10-23 12:44] abrianceau commented on #203
I installed throught pip :
`sudo pip install gcalcli`
And now it works (of course). I close the ticket but this bug still exists until you adapt the code to the new syntax.

[2017-10-23 12:44] #203 closed

[2017-10-23 13:33] slgobinath commented on #203
Sure.
I am thinking about a native JavaScript way to access Google Calendar and will migrate to that soon.

[2017-10-27 18:29] Ilis opened #213 "googleCalendar@javahelps.com does not use locale"
@slgobinath

**Issue**
googleCalendar does not use locale

**Steps to reproduce**
Install googleCalendar
See dates in English, i. e. "WEDNESDAY, NOVEMBER 01"

**Expected behaviour**
Dates in national format, i. e. "СРЕДА, НОЯБРЬ 01" (for ru_RU)

**Other information**

[2017-11-02 17:50] slgobinath commented on #213
Hi,
I am looking at this issue and try my best to solve it as soon as possible.

Thanks

[2017-11-14 01:24] kehh opened #216 "xkcd@rjanja should include the image title text."
This is the best part of many XKCDs.

[code]

**Notify author of desklet**
@rjanja

**Issue**

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2017-11-22 12:58] spacy01 commented on #213
@slgobinath, @Ilis
Hi guys! I found sort of solution about days and months localization.
The local must be set into /lib/xdate.js You must add few strings in the end of the file. My localization is bulgaria, so my locale is 'bg':

<code>XDate.locales['bg'] = {
	monthNames: ['Януари','Февруари','Март','Април','Май','Юни','Юли','Август','Септември','Октомври','Ноември','Декември'], // long month nam

[2017-12-04 12:07] dzek69 opened #222 "googleCalendar@javahelps.com has Misaligned times"
[code]

**Notify author of desklet**
@slgobinath

**Issue**
Times displayed on desklet are misaligned, sometimes too much to the left, sometimes too much to the right. But they're not random, some of them are aligned properly and that doesn't seem to be connected with use of regionalized characters or unicode (which would be my first guess).

**Steps to reproduce**
No idea, I guess the best way is

[2017-12-04 17:26] Nokia808 opened #223 "simple-system-monitor@ariel persistantly crash Cinnamon !"
* Desklet version/Build date (to be found in "About.." or in "metadata.json")
 * Cinnamon version: 3.6.6
 * Distribution: Fedora 26 X64 Cinnamon edition
 * Graphics hardware *and* driver used: Intel HD Graphic 5500
[code]

[2017-12-10 11:35] pbaudoux commented on #222
I get the same issue. Here's my spec:

[code]
![calendar](https://user-images.githubusercontent.com/4053475/33804415-858afcf0-dda4-11e7-9409-03c582127dcb.png)

As I get the problem only for one type of event I checked the difference in the .ics:

Buggy event:
[code]
Normal event:
[code]
Hope it helps.

Best regards,
Pierre

[2017-12-11 15:30] slgobinath commented on #222
Hi all,
For the moment I am little busy with my research. I will fix this issue once I get some time.

Thanks for reporting it.

[2017-12-20 17:21] ase1590 opened #224 "stocks@fthuin: Yahoo API shut down, breaking desklet"
Yahoo has shut down their finance API, breaking this stock ticker desklet. See here: https://www.quora.com/Did-Yahoo-Stock-API-shut-down

A respondent suggests using the Alpha Vantage API: https://www.alphavantage.co/documentation/

[2017-12-23 22:03] tomkiti opened #225 "bbcwx@oak-wood.co.uk: Clicking Desklet Should Open PWS"
[code]

**Notify author of desklet**
@tipichris

**Issue**
When using Weather Underground as a data service and a Personal Weather Station (PWS) as the location, clicking the desklet should go to the PWS, not the city.

**Steps to reproduce**
Select Wunderground as the data service and enter pws:KMDCOLUM3 as the location. Click the desklet. The browser goes to https://www.wunderground.com/weather/

[2017-12-24 09:39] tipichris commented on #225
Wunderground's API returns three URLs

forecast_url: http://www.wunderground.com/US/MD/Columbia.html
history_url: http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KMDCOLUM3
ob_url: http://www.wunderground.com/cgi-bin/findweather/getForecast?query=39.196098,-76.796097

The desklet uses the forecast_url, on the assumption that most users are more interested in the future weather than

[2017-12-24 21:32] tomkiti commented on #225
Wow, what a horrible API! I tried everything I could think of, but I agree that there's no easy way to get the PWS URL using the API. Even the 3 URLs that are returned point to 3 different PWSs! The current behaviour is definitely sufficient. Thanks for looking into it.

[2017-12-24 21:32] #225 closed

[2018-01-16 14:43] the-w-e-e-d-i-a-n opened #244 "devTools@scollins- broken"
Sonya 18.2 64
Cinn 3.4.6

error t=2018-01-16T09:19:41Z No JS module 'desklets' found in search path
trace t=2018-01-16T09:19:41Z
<----------------
@/home/the_weedian/.local/share/cinnamon/desklets/devTools@scollins/desklet.js:23:7
Extension.prototype._init@/usr/share/cinnamon/js/ui/extension.js:155:13
Extension@/usr/share/cinnamon/js/ui/extension.js:116:5
loadExtension@/usr/share/cinnamon/js/ui/ex

[2018-01-16 14:45] the-w-e-e-d-i-a-n commented on #244
This is LITERALLY my first github post ever... If i violated some rules egregiously, I apologize in advance.

[2018-01-16 16:43] collinss commented on #244
Yeah, the imports system changed in 3.6 and it looks like the change is not back-wards compatible with older versions of Cinnamon.

@jaszhix thoughts?

[2018-01-16 16:49] jaszhix commented on #244
I forgot about this, sorry. I was going to [submit a PR](https://github.com/jaszhix/cinnamon-spices-desklets/commit/8ec4fc19832cb3fbe5e92579a80f61338e56839a) for this but you said you would take care of it. I can still try to submit it if you'd like, but its not merge-able anymore.

[2018-01-16 17:07] the-w-e-e-d-i-a-n commented on #244
...and to think I had JUST found my holy grail of Cinnamon small tweak tools... :/

[2018-01-16 20:15] the-w-e-e-d-i-a-n commented on #244
FYI: I just virtualized Manjaro 64bit, (Arch)... with Cinnamon 3.6.6... and it loaded like butter. Don't know if that info helps?

[2018-01-16 20:15] collinss commented on #244
It currently works fine in Cinnamon 3.6. You could consider upgrading your system to 18.3. You can do that easily through the update manager. The impact on your system would be minimal and the risk should be pretty low. (I'd still do a system backup just to be safe of course.)

[2018-01-16 20:17] collinss commented on #244
@jaszhix I don't recall that conversation now. (Doesn't mean it didn't happen, I've just had a lot going on in my life lately.) If you could pr a solution that works with both versions of Cinnamon, that would be appreciated.

[2018-01-16 20:20] the-w-e-e-d-i-a-n commented on #244
Good suggestion!
I'm looking forward to learning more about how to write my own applets/desklets for Cinnamon specifically... It's the desktop I ALWAYS gravitate back to, and I think I'm done jumping around and reinstalling OSes for a bit... Any suggestions on where to start if someone's just a hobby python/css/js person? Or just pour over your guy's code, and then ask to be included? I don't want

[2018-01-16 20:29] collinss commented on #244
Well, nothing beats playing around with an existing applet, but there are some other resources you can use too. Devhelp is a great one. You'll have to install additional -doc packages as well (ie cinnamon-doc for the cinnamon documentation) in there you will find API references and tutorials that will be quite helpful.

[2018-01-16 20:40] jaszhix commented on #244
@collinss It looks like you [already patched](https://github.com/linuxmint/cinnamon-spices-desklets/commit/a2c99a5faec81b9e9a3d41cc083d33ff1b134468#diff-4bdf98d6377f07adb946247aa3e6dd0d) it, didn't realize that. I think the issue is imports.desklets is new to 3.6. imports.ui.deskletManager.desklets would work with backwards compatibility and importing from the xlet manager object is how I updated

[2018-01-16 20:49] collinss commented on #244
@jaszhix I think I tried this before and it was breaking for me on master. Which is why I changed it iirc.

[2018-01-16 20:53] the-w-e-e-d-i-a-n commented on #244
Awesome guys! I may only have my spare time and limited brain cells, but you've got a new recruit. :)

[2018-01-17 21:07] the-w-e-e-d-i-a-n commented on #244
![image](https://user-images.githubusercontent.com/35492043/35067003-7c31900a-fba0-11e7-8918-0ed52566d7f9.png)

[2018-01-23 12:09] Nokia808 opened #246 "[analog-clock@cobinja.de] setting become not accessible after update to Cinnamon 3.6.7 (permission denied) !"
[code]
Hi. When I updated my Cinnamon 3.6.7, then the "setting" of desklet became not accessible. I'm receiving the following notification: " ......... Permission denied"

Please your kind fix.

[2018-02-04 11:23] SSDMAD opened #249 "[analog-clock@cobinja.de] Cinnamon crashes when adding the desklet to desktop"
Hello, its nice to talk to you. Your desklet is too nice and what i'm looking for. But the only problem Cinnamon got crashed every time i added it to the desktop. After like 5 min, even if i remove it.

When the desklet installed it shows me a red question mark.
https://forums.linuxmint.com/download/file.php?id=39525

And this is my System Infos.
https://forums.linuxmint.com/download/file.php?id=3

[2018-02-04 16:02] NikoKrause commented on #249
@Cobinja

[2018-02-04 21:10] Cobinja commented on #249
@SSDMAD Can you provide the contents of $HOME/.cinnamon/glass.log and $HOME/.xsession-errors ?

[2018-02-05 03:44] SSDMAD commented on #249
Hi @Cobinja , Yeah i will provide them with a pleasure :)
First file **$HOME/.cinnamon/glass.log** have just today log. not the day when the cinnamon crashed.
About file **$HOME/.xsession-errors** have nothing in it about the desklet.
Did you want me to provide it anyway? or let the cinnamon crash then submit it?

[2018-02-05 07:18] Cobinja commented on #249
Please let it crash, then provide both

[2018-02-10 19:44] fthuin commented on #224
You are right, this desklet is not working anymore. It can be removed unless someone comes with a new implementation using AlphaVantage or any other API. If someone already has experience with AlphaVantage, he can modify my existing desklet and becomes the new owner.

[2018-02-10 20:09] NikoKrause commented on #224
Hey, if it's broken and you don't want to fix/maintain it anymore, I'm going to delete it.

[2018-02-10 20:13] NikoKrause commented on #246
@Cobinja The permissions of the file settings.py are false.

[2018-02-10 23:39] #246 closed

[2018-02-11 12:57] Nokia808 commented on #246
Hi. I received new update for desklet, but it does not work at all ! Same error is still existing & I can not enter setting of desklet !

In "about" section the following: last modified 2018 - 2 - 10 23.39 UTC

[2018-02-11 13:28] NikoKrause commented on #246
Have you restarted Cinnamon after the update?
If not, please do so.

Else uninstall, restart Cinnamon, reinstall.

[2018-02-11 14:23] NikoKrause commented on #213
I have a solution for this. I'll create a PR.

[2018-02-11 14:44] NikoKrause commented on #178
Since both stylesheets are the same, you can make one of them to be a symbolic link to the other one.

[2018-02-11 15:30] #213 closed

[2018-02-11 16:11] Nokia808 commented on #246
Hi. You are correct. After reboot my system (because I read your replay after shut down it), desklet now working O.K & finally I entered to setting without problem & I can know modify it.

Thank you for your kind effort !

[2018-02-11 16:29] Nokia808 opened #257 "[betterlock] Can you add option to exclude from "Show notifications' sound effects of Cinnamon" ?"
Hi dear.

I'm Fedora user 26 user. This is not a bug, but a feature request.

Currently, if user activate "Sound effects for (Show notifications)" from Cinnamon's sound setting, the betterlock applet's "Notification (if activated) will provoke sound effect each time user change CapsLock/NumLock during writing. This announcing for user, though she/he like sound effects for other notifications .....

[2018-02-11 16:54] NikoKrause commented on #257
It's not possible to disable sound effects from the applet itself and only for notifications of this applet.

[2018-02-11 16:54] #257 closed

[2018-02-11 17:24] Nokia808 opened #258 "[betterlock] Add new option "show icon only if key is active""
Hi. This is not a bug. This is a feature request.

I like to chose BOTH indicators (CapsLock & Num Lock). Currently, both icons appear in panel (that for CapsLock & that for NumLock) whether corresponding keys is/are activated or not. If corrsponding key toggled ON then it's icon become white in colour. This is O.K

But there is option - in GNOME version of this applet - to make icons of this appl

[2018-02-11 17:28] NikoKrause commented on #258
Please stop opening issues in the wrong repo.
This repo is for desklets. Betterlock is an applet.
Also stop duplicate your own issues.
You already requested this https://github.com/linuxmint/cinnamon-spices-applets/issues/1297

[2018-02-11 17:28] #258 closed

[2018-02-16 02:21] walker-dow opened #260 "soundBox@scollins appears to crash when attempting to add Desklet to Desktop"
[code]

**Notify author of desklet**
@collinss

**Issue**
Screen flashes when adding soundbox Desklet. Desklet does not appear on desktop.

**Steps to reproduce**
Right-Click on Desktop
Click "Add Desklets"
Click "Download" tab
Click the Install button on the Soundbox entry
Click the "Manage" tab
Select the Soundbox entry
Click the "+" button

**Expected behaviour**
A sound/music related Desklet a

[2018-02-17 17:57] Ilis commented on #213
@NikoKrause

It didn't work. Months names are still in English.

Maybe .po and .pot have to be updated?

[2018-02-17 18:04] NikoKrause commented on #213
@Ilis
Yes .pot has to be updated and the new Strings have to be translated.

[2018-02-17 18:32] slgobinath commented on #213
@NikoKrause please check my new PR https://github.com/linuxmint/cinnamon-spices-desklets/pull/259 in which I have improved your code.

This PR also fixes alignment issues.

[2018-02-17 18:56] slgobinath commented on #222
Fixed in https://github.com/linuxmint/cinnamon-spices-desklets/pull/259. Please update the desklet and see whether it has been resolved.

Thanks

[2018-02-17 19:00] #222 closed

[2018-02-18 17:56] Ilis commented on #213
I've updated ru_po in #263, but noticed that string for shortened month name May is missed.

[2018-02-18 18:41] slgobinath commented on #213
The problem is in English `May` is used for both short and long names. I did not think about it.
I will fix it soon.

[2018-02-18 19:23] NikoKrause commented on #213
@slgobinath is right. It's the same string for both.
How to know, which string to translate how?
Not sure if this will work, but there should be something similar for applets: https://stackoverflow.com/questions/10235822/same-string-with-different-translation

[2018-02-18 19:23] NikoKrause commented on #213
https://github.com/search?q=org%3Alinuxmint+pgettext&type=Code

[2018-02-18 19:49] slgobinath commented on #213
Hi @NikoKrause,
Is there a way to test desklet locale without changing system locale?

[2018-02-18 20:03] NikoKrause commented on #213
I don't know of any way.

[2018-02-18 20:46] slgobinath commented on #213
Hi,
Since I am unable to test, could you please try the solution provided in the Stack Overflow Answer using this method: [Gettext.dpgettext](https://github.com/linuxmint/cjs/blob/master/modules/gettext.js#L72)

I think we need to replace `_("May")` in `xdate.js` by `Gettext.dpgettext(UUID, "short", "May")` and `Gettext.dpgettext(UUID, "long", "May")`
PO file should be:

[code]

Modified xdate.js

[2018-02-19 06:11] Ilis commented on #213
May is not a problem in Russian (Май stands both for full and shortened names, as in English)

But e. g. for Ukrainian it is not true:

№ | Месяц | Сокр. | Translation
-- | -- | -- | --
1 | Січень | Сiч. | Jan
2 | Лютий | Лют. | Feb
3 | Березень | Бер. | Mar
4 | Квітень | Квiт. | Apr
5 | Травень | Трав. | May
6 | Червень | Черв. | Jun
7 | Липень | Лип. | Jul
8 | Серпень | Серп. | Aug
9 | Вересень

[2018-02-23 15:57] stefancon opened #265 "[googleCalendar@javahelps.com] desklet.js can't be imported - Error when adding desklet to desktop."
[code]

I am getting an import error when trying to add the desklet to the desktop. Adding different desklets (e.g. bbcwx@oak-wood.co.uk) works flawlessly, which makes this crash quite confusing.

Following log to **glass.log** seems to be relevant:

**.xsession-errors** only shows:

[2018-02-23 16:55] NikoKrause commented on #265
@slgobinath

[2018-02-23 17:43] slgobinath commented on #265
Hi,
I am unable to produce this problem in my `Linux Mint 18.3` with `Cinnamon 3.6.7`.
I will try this with your version in VM and let you know.

[2018-02-23 18:45] slgobinath commented on #265
@NikoKrause I have faced following problems in Cinnamon 3.0.7:
1. Functions must be defined like this:
[code]
However, this format was marked as bad practice in last PR check.
2. Default settings values were not initialized. After fixing the above problem, I got `this.bgcolor` undefined in https://github.com/linuxmint/cinnamon-spices-desklets/blob/master/googleCalendar%40javahelps.com/files/google

[2018-02-23 22:43] NikoKrause commented on #265
Asking expert here: @jaszhix

[2018-02-23 22:54] jaszhix commented on #265
Which PR did the linter mark it as bad practice? The eslint configuration might still need some adjusting. I'm not sure what could be causing the undefined typeerror. I know in Cinnamon 3.2 a new API was introduced for the settings binding API, not sure if there would be behavior differences with the old API.

[2018-02-23 22:58] slgobinath commented on #265
Hi,
Please check https://github.com/linuxmint/cinnamon-spices-desklets/pull/259 for `Expected method shorthand. (object-shorthand)` style warning.

[2018-02-23 23:11] jaszhix commented on #265
Cinnamon 3.0.7 is getting a bit old, you could try find a commit that you know works with it, and 'fork' that into a 3.0.7 directory, in files/UUID/, like [this](https://github.com/linuxmint/cinnamon-spices-applets/tree/master/CinnVIIStarkMenu%40NikoKrause/files/CinnVIIStarkMenu%40NikoKrause) for example. Then move the latest version into a 3.6 directory (or whatever oldest version still works wit

[2018-02-24 00:15] slgobinath commented on #265
Thanks for your solution @jaszhix.
Considering the effort to maintain multiple versions, I prefer to let this desklet incompatible with Cinnamon 3.0.7.
In addition, I will provide a manual installation guide explaining how to clone and use an older version.

[2018-02-24 00:24] #265 closed

[2018-02-25 21:03] kanchudeep opened #267 "googleCalendar@javahelps.com: Possible bug in layout of event text"
**Notify author of desklet**
@slgobinath

**Issue**
In the latest version, the spacing between each events of the day seem to have been increased. The previous look was more compact.

The new spaced look has it's own merits, but I personally prefer the compact layout. Would request to add an option to enable/disable compact layout.

[2018-02-25 21:26] kanchudeep commented on #267
Sorry, although restarting `cinnamon` did not have any effect of the layout but restarting the system seems to have gone to the default *compact* layout. So probably it was a `bug`. Unfortunately, didn't take any screenshots or logs...

[2018-02-25 22:11] slgobinath commented on #267
Hi,
In the previous version, I used single Label and space between two rows were determined by default space between two lines. In the new design, I use separate Label for each row for proper alignment. Therefore now space is determined by default margin between two Labels which may not be same as line space.
Therefore there can be minor differences but if it is too wide, it may be a bug. If it ha

[2018-02-26 03:39] kauffy opened #268 "[analog-clock@cobinja.de] Clock ignores Timezone setting and just shows local time."
[code]

**Notify author of desklet**
@Cobinja

**Issue**
Setting the Timezone for the clock does not actually alter the time displayed, even though the timezone label is shown.

**Steps to reproduce**
Add new desklet instance.
Select "use specific timezone".
Choose a Timezone (e.g., Australia/Adelaide, or Europe, Dublin)
Tick "Display Timezone" (not necessary, but verifies that it is set).
Notice

[2018-02-26 03:45] kauffy opened #269 "[analog-clock@cobinja.de] No option to display AM/PM when using other Timezones"
[code]

**Notify author of desklet**
@Cobinja

**Issue**
There is no option to display AM/PM (or any indicator of AM/PM) on the clock face, which is only of value when you are displaying a time from another time zone (see my other issue).

**Steps to reproduce**
Add desklet.
Click settings.
Observe that there is no option to display AM/PM on the clock face.

**Expected behaviour**
This setting wou

[2018-02-26 04:08] kauffy commented on #269
Okay. I thought I was going crazy for a moment-- and that the desklet was working properly, but no, there is a problem.

Right now, I have two clocks set up. One for Melbourne, Australia and one for Dublin, Ireland. I, myself, am in the America/Los Angeles Timezone.

I can't tell quite what's happening--
1) when initially added and timezones are set, the clocks are incorrect, and display local tim

[2018-02-26 04:38] kanchudeep commented on #267
It's happened again:

![googlecalendar](https://user-images.githubusercontent.com/30999796/36653611-41e371e2-1adc-11e8-934e-272f9abd44f7.png)

This happened after Cinnamon crash. Relevant entries in `/var/log/syslog`:
[code]

[2018-02-27 11:40] slgobinath commented on #267
Hi,
May I know the theme you use?

[2018-02-27 14:10] kanchudeep commented on #267
The default Cinnamon theme (Mint-X)

[2018-02-28 17:27] #244 closed

[2018-03-03 21:14] coderforlife opened #279 "simple-system-monitor@ariel and netusage@30yavash.com need to be updated to support new NM library"
Distribution: Fedora 27
Author of `simple-system-monitor`: @arielandrade
`netusage` is unclaimed

Both of these desklets cannot be loaded on Fedora 27 (and possibly future versions of Linux Mint or other distros) due to the move from `NMClient` and `NetworkManager` libraries to `NM`. Attempting to add this applet will cause Cinnamon to continually crash on Fedora 27.

More about the issue is discu

[2018-03-03 21:15] coderforlife commented on #279
Due to messed up formatting initially I am unsure if the mention of @arielandrade went through so repeating it.

[2018-03-03 22:09] arielandrade commented on #279
Hello Jeffrey, I'm sorry but I can't mantain the desklet right now, I'll
donate it so somebody else might fix it.

On Sat, Mar 3, 2018 at 6:15 PM, Jeffrey Bush <notifications@github.com>
wrote:

[2018-03-06 15:38] GreatAnubis opened #281 "googleCalendar@javahelps.com - Hi DPI display issue"
**Notify author of desklet**
@slgobinath

**Issue**
However, with Double Scaling - HiDPI - 4K - the text is cut off in the middle of that desklet.
I can see smth like:
[code]

Switching to normal scaling - the text and desklet is smaller but occupies all the area and I can see event names and times properly.

**Steps to reproduce**
Switch to HiDPI. See event list.

**Expected behaviour**
Text shou

[2018-03-16 01:33] walker-dow commented on #260
Logged into this machine after coming back from vacation as was prompted to refresh the desklet cache.

Was able to install and run this desklet afterwards,

[2018-03-16 01:33] #260 closed

[2018-03-29 09:29] johnfa155 opened #286 "failed"
today when I put my PC on, the usual weather forecast had a large ? and No Data displayed I tried all settings I could think of but nothing altered the problem

[2018-03-29 22:23] jaszhix commented on #286
Please check the [guidelines](https://github.com/linuxmint/cinnamon-spices-desklets/blob/master/.github/CONTRIBUTING.md) for bug reports, which is also in the [issue template](https://github.com/linuxmint/cinnamon-spices-desklets/blob/master/.github/ISSUE_TEMPLATE).

[2018-03-29 22:23] #286 closed

[2018-03-30 08:49] johnfa155 commented on #286
sorry, I am new to this sand just wanted some help, I don't know how to fill forms in either you can help or not

[2018-04-03 17:58] RyanNerd opened #288 "top@ryannerd process for PRs to be reviewed and merged?"
Hi. A little while ago I created a desklet called `top`. I submitted this as PR #285 -- I hope I followed correct protocol and format with my submission. Please let me know if there are any issues with the PR as this is the first time I've submitted anything to `linuxmint` and I've not heard back. Thank you.

[2018-04-16 19:26] alensiljak opened #295 "[calendar@deeppradhan] First day of week setting"
[code]

**Notify author of desklet**
@kanchudeep

**Issue**
This is more of a request than a bug report. The month calendar displays weeks with the first day of the week being Sunday. I would appreciate if the setting for the first day was used from Cinnamon (currently set as Monday).

**Steps to reproduce**

**Expected behaviour**
The week display should respect the Cinnamon setting for the first

[2018-04-17 04:41] kanchudeep commented on #295
Good suggestion!

I'll work to try and add this...

[2018-04-17 05:11] MisterY commented on #295
Wonderful, thank you! I love this desklet.

[2018-04-26 17:16] franckgaga opened #296 "googleCalendar@javahelps.com : Long midnight event tiltle truncation"
[code]

**Notify author of desklet**
@slgobinath

**Issue**
Event that span on multiple days and start at "00:00" (midnight) : long event title is not truncated and the desklet becomes huge.

**Steps to reproduce**
1. Create this event :
- Long event title
- Start at : 00:00 (midnight), any day
- End at : any time, the day after the selected start day
2. Refresh the desklet content.

**Expected be

[2018-05-04 00:53] RyanNerd commented on #288
Closed by #285 being merged. Thx.

[2018-05-04 00:53] #288 closed

[2018-05-06 11:56] #296 closed

[2018-05-06 18:07] Pelt10 opened #301 "googleCalendar@javahelps.com - Error during loading"
[code]

**Notify author of desklet**
@slgobinath

**Issue and Step to reproduce**
After I've download  and install the desklet, I try to add one on my desktop, and I'm getting this error :
![image](https://user-images.githubusercontent.com/7582586/39676273-11995002-5168-11e8-8a24-61a4bbefd415.png)
"An error occurred during loading of  googleCalendar@javahelps.com. Check you used the last release b

[2018-05-06 18:54] slgobinath commented on #301
Hi,
I am unable to track the exact problem using your log info.
Are you using any other desklets (to ensure the problem is with Google Calendar)?
Is this the first time you install this desklet (to see whether it happens after the recent update)?

[2018-05-08 11:09] slgobinath commented on #301
Have you installed `gcalcli` and configured it?

Executing the following command in the terminal should print your agenda:

[code]

[2018-05-09 02:06] pdcurtis commented on #279
I fixed the same issue in the matching applet vnstat@linuxmint.com to the issue here in  simple-system-monitor@ariel - see https://github.com/linuxmint/cinnamon-spices-applets/commit/33b76b80a3475773e9b3b568e51705fc80832abf

I can have a look at system-monitor@ariel  if nobody else shows an interest but it may be a while before I can allocate time and it probably needs to be fixed for Cinnamon 3.8

[2018-05-10 09:45] NikoKrause commented on #224
There's a fork now of this desklet: https://cinnamon-spices.linuxmint.com/desklets/view/42

[2018-05-10 09:45] #224 closed

[2018-05-11 00:25] Pelt10 commented on #301
yes calcli is install and work fine :

Return my google agenda !

[2018-05-11 10:53] pdcurtis commented on #279
I have found the time and hopefully fixed this issue for netusage@30yavash.com and also a few anomalies I found during testing it.

I could only do partial testing on a LiveUSB of Fedora 27 so any feedback from users would be useful

[2018-05-14 09:32] Cobinja commented on #268
Soryy, I have to reject this.
This would mean that the desklet updates the hour clock every second, which is unecessary rendering load.
My PR is on its way.

[2018-05-14 10:33] Cobinja commented on #268
Sorry commented on the wrong page

[2018-05-14 10:36] #268 closed

[2018-05-14 10:49] Cobinja commented on #269
Is this fixed with https://github.com/linuxmint/cinnamon-spices-desklets/pull/306?

[2018-05-14 10:50] Cobinja commented on #269
BTW: The AM/PM stuff is more like a feature request than a bug

[2018-05-14 10:53] Cobinja commented on #249
Sadly there's no useful info in the logs. Does this still happen?

[2018-05-14 20:00] kauffy commented on #268
After spending more time with it, this definitely occurs when the system first starts up, though I don't know under what other circumstances this occurs (I know that I have observed it at other times).

[2018-05-14 20:06] kauffy commented on #268
Will verify the operation on my other system.

[2018-05-15 05:47] kauffy commented on #268
I thought I had responded to this, but it does, indeed work! The clocks now show the correct time for their timezone from the moment they launch.

[2018-05-15 16:36] kauffy commented on #269
Yeah. It's definitely not a bug in the technical sense, but I suppose it's a "bug" in the user-expectation sense.

[2018-05-15 20:40] Cobinja commented on #269
@kauffy Are the problems in https://github.com/linuxmint/cinnamon-spices-desklets/issues/269#issuecomment-368384787 fixed by https://github.com/linuxmint/cinnamon-spices-desklets/pull/306?

[2018-06-01 14:02] kehh commented on #216
@icarter09 the tool tip that's displayed when you hover is what I was referring to. This is referenced to as the title attribute of the image element.

[2018-06-08 21:10] xzj8b3 opened #312 "Weather Desklet blocks Cinnamon"
The extension locks Cinnamon you need a manual removal Dell estensione....si Please update it for the latest versions

Cinnamon 3.8.3
Fedora 28 x86-64
Intel Haswell-ULT Integrated Graphics Controller
Advanced Micro Devices [AMD/ATI] Mars LE [Radeon HD 8530M / R5 M240]
x11 (X.org 119.6 ) drivers: i915,radeon Resolution: 1366x768@60.00hz
Mesa DRI Intel Haswell Mobile version: 4.5 Mesa 18.0.2

[2018-06-08 21:14] xzj8b3 opened #313 "Soundbox sometimes causes problems"
Soundbox sometimes causes problems, please update the extension for the latest versions of cinnamon!!!!

[2018-06-08 21:21] xzj8b3 opened #314 "Top does not work on recent truths of Cinnamon"
Top does not work on recent truths of Cinnamon, please make it compatible with Fedora 28 x64 so that they can also use other users
Cinnamon 3.8.3
Fedora x86-64
Intel Haswell-ULT Integrated Graphics Controller
 Advanced Micro Devices [AMD/ATI] Mars LE [Radeon HD 8530M / R5 M240]
 x11 (X.org 119.6 ) drivers: i915,radeon Resolution: 1366x768@60.00hz
 renderer: Mesa DRI Intel Haswell Mobile version: 4

[2018-06-09 10:31] leigh123linux commented on #314
@RyanNerd  It works fine on fedora after editing ~/.local/share/cinnamon/desklets/top@ryannerd/metadata.json and adding 3.8 version

[code]

![screenshot from 2018-06-09 11-30-10](https://user-images.githubusercontent.com/1299302/41190543-a5afdea2-6bd8-11e8-8d76-936052f0e63f.jpg)

[2018-06-09 13:10] xzj8b3 commented on #314
[image: Schermata del 2018-06-09 15-02-55.png]
​

Unfortunately I do not have logs because it does not cause errors, it does
not work and just on Gnome 3.8.3 which indicates that the extension is not
compatible!!!!

Seguimi su Facebook <https://www.facebook.com/IvanDeFelice>  Seguimi su
Twitter <https://twitter.com/xzj8b3>  Seguimi su Istagram
<https://www.instagram.com/ivan_e_toby/> Seguimi su Pi

[2018-06-11 10:14] xzj8b3 commented on #314
So it was updated??? Really thank you..

[2018-06-11 12:40] #314 closed

[2018-06-13 00:53] RyanNerd opened #316 "top@ryannerd PID in top sometimes has wrong PID [HELP WANTED]"
[code]

**Issue**
I am using the Top parser from [here](https://github.com/devalexqt/topparser)
On occasion the PID is dropping the first digit. I'm having trouble figuring it out since the code is using regular expressions (something I'm not very good at). The code that parses the PID is [here](https://github.com/linuxmint/cinnamon-spices-desklets/blob/376e54a6970508366aa622f351d266f2aab9a2cd/top

[2018-06-18 10:48] InfLagranty opened #317 "#205 quoteOfTheDay@tinnu: copy in right-click-menu doesnt work"
[code]

**Notify author of desklet**
@

**Issue**
title is self-expanatory, i guess.. i cant even get some usefull logs out of looking.glass / melange

**Steps to reproduce**

**Expected behaviour**

**Other information**
good idea anyway

[2018-07-05 15:14] RickSlashee opened #318 "Google Calendar Applet - clicking on Configure doesn't respond"
[code]

**Issue**
It works, but on Linux Mint 19 clicking on Configure doesn't do anything.

[2018-07-05 17:19] jaszhix commented on #318
Which desklet are you referring to? Please include the name/UUID in the title.

[2018-07-06 15:49] RickSlashee commented on #318
Edited above.

[2018-07-06 15:50] RickSlashee commented on #318
edited above.

[2018-07-06 17:43] slgobinath commented on #318
The fix is on its way: https://github.com/linuxmint/cinnamon-spices-desklets/pull/319

[2018-07-06 20:48] #318 closed

[2018-07-16 21:00] pgwalsh opened #320 "yfquotes@thegli - Not able to pull Dow (DJIA) or any of the other major indexes."
[code]

**Notify author of desklet**
@

**Issue**

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2018-07-18 00:35] jaszhix commented on #320
@thegli

[2018-07-18 06:33] thegli commented on #320
@pgwalsh Which quote symbols did you try?

[2018-07-18 21:16] pgwalsh commented on #320
Sorry, you're right. For some reason I had found another page with different symbols and I'm used to using the widget on OS X, which works differently. Apologies for the bother.

[2018-07-18 21:16] #320 closed

[2018-07-21 11:28] Redsandro opened #322 "[cpuload@kimse] HiDPI display issue."
[code]

**Notify author of desklet**

@kimse

**Issue**

Fonts are overlapping on HiDPI displays.

[2018-07-21 11:30] Redsandro commented on #322
Pull request created. Untested on Low DPI (scaling 1) displays.

[2018-07-21 11:41] Redsandro opened #324 "[diskspace@schorschii] HiDPI display issue"
[code]

**Notify author of desklet**

@schorschii

**Issue**

Fonts are overlapping on HiDPI displays.

![image](https://user-images.githubusercontent.com/1702193/43035194-75042568-8ceb-11e8-86d2-d11c97e39723.png)

[2018-07-21 11:43] Redsandro commented on #324
Fixed in PR - untested on Low DPI

Screenshot of fix:

![image](https://user-images.githubusercontent.com/1702193/43035211-f74197d6-8ceb-11e8-8333-0aebb24daeea.png)

[2018-07-21 11:55] Redsandro opened #326 "⚠ Many applets and desklets don't take DPI into account"
I don't know where the resources and/or tutorials are for applets and desklets, but they should all be updated with hints, warnings and notes:

__Font sizes__ automatically conform to the UI DPI setting (scaling factor) when they are _drawn_ on screen. But their value is not. Effectively this means that their value is _divided_ by the scaling factor on HiDPI displays. __Don't use them for calculat

[2018-07-21 12:33] schorschii commented on #324
@Redsandro
Thanks! Also working great on Low DPI.

[2018-07-21 16:47] Redsandro commented on #324
Thanks for testing! Can you let the folks in the PR (#325) know?

[2018-07-21 17:11] jaszhix commented on #313
Please refer to the contributing section and fill out the issue template.

[2018-07-21 17:11] #313 closed

[2018-07-21 17:13] jaszhix commented on #317
@JessW

[2018-07-21 17:14] #223 closed

[2018-07-21 17:30] JessW commented on #317
Thanks, @jaszhix!

This works for me on Cinnamon 3.0.7, so I will take a look and try to see when it stopped working.  It might be awhile though, I'm sorry to say!

[2018-07-21 21:44] #324 closed

[2018-07-22 00:55] icarter09 commented on #312
Cinnamon 3.8.8
Linux Mint 19 64bit

@xzj8b3 What exactly is getting locked up on Cinnamon? I just installed the Weather Desklet and not experiencing any issues or Cinnamon locking up.

[2018-07-22 03:07] icarter09 commented on #316
@jaszhix I can provide some help with this issue.

@RyanNerd I ran the Top desklet for quite awhile and compared it against running "top" in the terminal. I didn't notice the Top desklet dropping any digits from the PID. Can you provide a screen capture of the PID dropping a digit or can you provide the CMD that is associated with the PID that is getting dropped?

[2018-07-23 20:24] icarter09 commented on #316
@RyanNerd thanks for the screen captures! I can see the problem you are talking about. I'll take a look into the code and the regex parsing tonight.

[2018-07-24 13:21] xzj8b3 commented on #312
At the moment I don't have Cinnamon installed, but on Fedora 28 x64 it blocked Cinnamon just like I started the desklet

[2018-07-25 02:45] icarter09 commented on #316
@RyanNerd I might have found the problem, but not for sure. I did some researching into PID numbers and how they are assigned/created. One problem is that my machine is not generating 5 digit PID numbers, but when I did statically set the value to be 5 digits, it still worked just fine. The values were not cut off and were displayed correctly, unlike what your screen captures show.

I put some com

[2018-07-25 02:48] icarter09 commented on #312
@xzj8b3 If you ever install Cinnamon again, can you double check if the Weather Desklet is still causing you problems? We'll update the ticket accordingly with your feedback. Thanks!

[2018-07-29 12:48] xzj8b3 commented on #312
![Uploading P_20180729_142512_vHDR_Auto.jpg…]()

@icarter09 The image clearly shows how Cinnamon crashes when loading the extension on Fedora 28 x64 with open driver!!!

[2018-07-29 14:50] leigh123linux commented on #312
Works fine here using F29 x86_64.

[2018-07-29 16:50] jaszhix commented on #312
@xzj8b3 Do you have an ~/.xsession-errors file? If so please attach it here.

[2018-07-29 17:35] xzj8b3 commented on #312
@jaszhix In which folder is the file. xsession-Errors I try to see!!!!

[2018-07-29 17:44] jaszhix commented on #312
@xzj8b3 It would be in your home folder if you have it.

[2018-07-29 17:56] xzj8b3 commented on #312
@jaszhix Of course I do, but there will always be problems if they are updated every 4 months when it goes well!!!!

[2018-07-30 07:02] jaszhix commented on #312
@xzj8b3 I don't know what that means, but you still didn't provide any logs.

[2018-07-30 15:11] xzj8b3 commented on #312
I have no xsession-error registers to provide

[2018-07-31 13:28] ArtHome12 opened #329 "Localization fail"
![2018 07 31 screenshot](https://user-images.githubusercontent.com/10239307/43462296-ed66779c-94ff-11e8-9afa-1fad2526e851.png)

[code]

**Notify author of desklet**
@jaszhix

**Issue**
Wrong month name in russian locale

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2018-07-31 17:17] RyanNerd commented on #316
@icarter09 Thank you for the PR.
Unfortunately it did not solve the issue.
Fortunately it helped me identify [where the issue is](https://github.com/linuxmint/cinnamon-spices-desklets/blob/968a741cb36ac846101173b5060dab2e7c966856/top%40ryannerd/files/top%40ryannerd/desklet.js#L161) and I now know how to fix it.

I'm going to decline your PR. Thank you for your help as it helped me to find the unde

[2018-07-31 17:17] #316 closed

[2018-07-31 18:16] icarter09 commented on #316
@RyanNerd no problem and glad you found the problem! Can you shoot me a link to the fix when you apply it? I'm curious as to what exactly that line is doing wrong that would have caused that problem.

[2018-08-01 15:13] Auerilas opened #330 "Google Calendar desklet doesn't show today/current date and can't select calendars"
Is there any way to get the Google Calendar desklet to show "Today" in the agenda? It shows up in gcalcli when i use galcli agenda.

Also, perhaps a related or unrelated issue, but choosing the calendar doesn't seem to work. If I choose 'Home', 'Research', or 'Teaching', it always shows results from all the calendars and doesn't select specific ones. Here are screenshots to compare gcalcli and the

[2018-08-01 15:18] jaszhix commented on #330
Author of desklet is actually @slgobinath

[2018-08-01 18:02] Auerilas commented on #330
Interestingly, the "TODAY" issue appears on both of my machines. The "Calendar selection" issue only appears on my laptop. Calendar selection works fine on my desktop. The only difference I can think of is that I installed gcalcli after the desklet on my laptop and before the desklet on my desktop. I'll try a reinstall of the desklet on my laptop to see if that resolves the issue.

[2018-08-01 22:29] RyanNerd commented on #316
@icarter09 See PR #331 for what fixes the problem. Thanks again for your help.

[2018-08-01 22:39] RyanNerd opened #332 "top@ryannerd : add language support (starting with Spanish) [Help Wanted]"
**Issue**
I am the creator of the `top` Desklet and I am looking for someone who can give me some guidence on how to build .po files and how I would go about testing the translations.

I have a co-worker who is fluent in Spanish and English, and would like to start with that language. But if anyone else wants to throw their hat into the ring for translations I'd love any help.

I'm going to start

[2018-08-01 22:44] RyanNerd commented on #329
@ArtHome12 You should include the UUID of the desklet in the issue title. Also you should notify the author of the desklet.
I think the desklet you are referring to is: simple-system-monitor@ariel and the author is @arielandrade

[2018-08-01 22:49] RyanNerd commented on #326
@Redsandro and @jaszhix Tutorials are sorely lacking. I built `top@ryannerd` by using an existing popular desklet as a template. If this existing desklet was created _correctly_ in the first place I have no idea -- as the guides that I could find are either badly outdated, or outright wrong.

[2018-08-02 04:47] jaszhix commented on #326
@RyanNerd You can submit a PR to https://github.com/linuxmint/linuxmint.github.io.

[2018-08-02 08:54] NikoKrause commented on #329
This issue seems to be very similar: https://github.com/linuxmint/cinnamon-spices-applets/issues/238

[2018-08-02 08:59] NikoKrause commented on #332
There's a script in the repo: https://github.com/linuxmint/cinnamon-spices-applets#translations

Here's also a basic tutorial: https://github.com/NikoKrause/CinnVIIStarkMenu/issues/19

[2018-08-02 17:39] Auerilas commented on #330
After even more inspection, I dug into the desklet.js script. I've never seen or written javascript, so I can't understand 90% of it. But I did find this:

[code]
which I assumed were the instructions to gcalcli. In particular, this option: `command.push("--nostarted");` tells gcalcli not to return events that have already started. Since I don't have a better solution to separate 'all day' events

[2018-08-02 18:54] slgobinath commented on #330
Hi,

Thanks for letting me know this. I also have observed the problem with `TODAY`. It is actually a problem in `gcalcli` side.

If `--nostarted` is used with `gcalcli v3.3.2`, it will ignore events which are already started except full-day events like Birthdays. However, in the latest version of gcalcli, `--nostarted`  even ignores full-day events. I am also affected by this issue on my LM 19 (b

[2018-08-02 19:09] Auerilas commented on #330
No worries! Thanks for looking into it. In the meantime, I've raised an issue on gcalcli, as this seems like an issue. If its fixed on the gcalcli side, then that should fix the issue here, as well.

thanks again!

[2018-08-03 04:44] ArtHome12 commented on #329
Yes, it's the same, tnx!

[2018-08-03 04:44] #329 closed

[2018-08-14 17:28] papermache opened #333 "simple-system-monitor fails to load temperature"
[code]

**Notify author of desklet**
@

**Issue**

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2018-08-14 17:50] #333 closed

[2018-08-14 17:51] leigh123linux commented on #333
No info provided

[2018-08-15 02:00] papermache opened #334 "simple-system-monitor@ariel fails to load temperature in Cinnamon 3.6.7"
simple-system-monitor@ariel
[code]

**Notify author of desklet**
@arielandrade

**Issue**
Temperature fails to update, set at 27.8°C

**Steps to reproduce**
Install desklet as normal.

**Expected behaviour**
Temperature should update according to performance.

**Other information**
![image](https://user-images.githubusercontent.com/2126012/44127830-2e6d74e4-a00d-11e8-8b26-56ec9a79cf68.png)

[2018-08-18 13:28] ipimpat commented on #322
@Redsandro's patch break the fonts on low DPI

[2018-08-23 14:18] papermache commented on #334
Finished upgrading to Mint 19 and reinstalled simple system monitor thru Desklets. Temperature remains at 27.8C.

[2018-09-10 13:08] coderforlife commented on #281
I can confirm this bug and was going to report it but it was already reported. Seeing that it has been open for this long with no response I can guess nothing is going to happen with it anytime soon.

[2018-09-10 16:46] JessW commented on #317
Hi @InfLagranty , I just submitted a pull request that fixes this bug. I'm not quite sure how long that change takes to get pushed out, but if you update Quote of the Day in a day or two, and it's still broken, let me know!

[2018-09-15 17:59] JessW commented on #317
@jaszhix Could you close this issue (I don't see a way to do it myself), since I've fixed it now?  Also, I'm not sure who to tag for these kinds of requests, I'm sorry if it's not you!

[2018-09-15 19:02] #317 closed

[2018-09-24 08:16] randolph-one opened #340 "weather desklet has no real opacity (bbcwx@oak-wood.co.uk)"
[code]

**Notify author of desklet**
@tipichris

**Issue**
One trifle is still useless for me at the moment: Transparency. On Cinnamon 3.8.9 / Linux Mint 19, the desklet become more and more pink at opacity <1.0.

**Steps to reproduce**
Overwrite the desktop theme (activates the lower settings), then slider of opacity to less than 1.0

**Expected behaviour**
decreasing opacity without coloring the

[2018-09-30 09:16] #340 closed

[2018-10-13 15:52] jaszhix commented on #334
If you poke around in /sys/devices/virtual/thermal/ you might find the right sensor and update metadata.json. Though this should be in a settings-schema.json file since it will get overwritten on update. Its not a placeholder, your system is configured differently.

[2018-10-13 22:28] papermache commented on #334
changed the path; problem solved.

On Sat, Oct 13, 2018 at 11:53 AM Jason Hicks <notifications@github.com>
wrote:

--
Benjamin Fenigsohn
Director, Elmhurst, Inc.
c: 818-964-5858

[2018-10-16 10:06] slgobinath commented on #330
Hi @Auerilas,
This problem will be fixed in #342. Could you please help me by testing this PR in your system because it contains a major change in the code which may break the desklet.

Thanks

[2018-10-18 03:53] slgobinath commented on #281
Fixed in #342

[2018-11-04 13:15] xzj8b3 opened #345 "Is it possible to display time instead of the useless percentage?"
Is it possible to display time instead of the useless percentage?

Cinnamon 3.8.9

Fedora 29 x86-64

Intel Haswell-ULT Integrated Graphics driver: i915 v: kernel
 AMD Mars LE [Radeon HD 8530M / R5 M240] driver: radeon v: ker nel
x11 server: Fedora Project X.org 1.20
ati,modesetting,radeon unloaded: fbdev,vesa resolution: 1366x768~60Hz
Mesa DRI Intel Haswell Mobile v: 4.5 Mesa 18.2.2

[2018-11-05 11:17] xzj8b3 commented on #345
https://cinnamon-spices.linuxmint.com/desklets/view/31
That is UUID I do not think where it is if you indicate!

[2018-11-28 06:10] spantaleev commented on #279
I've recently started experiencing this same problem on Archlinux.

[2018-11-28 08:39] pdcurtis commented on #279
@spantaleev  Which applet/desklet is causing the problem and what version of cinnamon are you using?

 `netusage@30yavash.com` should have been fixed and I have just had a new version merged which will work better with cinnamon 4.0

@jaszhix has also recently pushed a fix for `simple-system-monitor` for 3.8 see #327

[2018-11-28 08:50] spantaleev commented on #279
@pdcurtis, I'm on 4.0.3 and I'm affected by linuxmint/Cinnamon#8050, which rejects loading `simple-system-monitor@ariel`.

[2018-11-28 09:16] pdcurtis commented on #279
I will have a quick look to see if the fix @jaszhix has created for these xlets can easily be applied. He will probably want to comment as he has already been working on it and I am busy today.

[2018-11-29 06:39] spookylukey opened #358 "googleCalendar@javahelps.com : CalDAV support"
I'm interested in adding support for CalDAV calendars, such as those provided by fastmail.fm and many other providers. I could probably program this pretty easily in Python, or Javascript if that would be better.

@slgobinath Would this be accepted? If so, how should it work in terms of interface? I could do it as an external script that has to be configured similar to how gcalcli works. Otherwise

[2018-11-29 11:32] pdcurtis commented on #279
@spantaleev I have had a quick look and at https://github.com/pdcurtis/cinnamon-spices-desklets/tree/simple-system-monitor-1.0.0/simple-system-monitor%40ariel you will find a modified version which might work for you.  It includes
  * Changes for Cinnamon 4.0 and higher to avoid segfaults when old Network Manager Library is no longer available by using a multiversion with a 4.0 folder in which I h

[2018-11-29 11:41] jaszhix commented on #279
@pdcurtis Tested it real quick

Cjs-Message: 05:39:17.154: JS LOG: [LookingGlass/error]
[simple-system-monitor@ariel]: assignment to undeclared variable NMClient_new
[simple-system-monitor@ariel]: Error importing desklet.js from simple-system-monitor@ariel
Cjs-Message: 05:39:17.154: JS LOG: [LookingGlass/trace]
<----------------
anonymous@/home/jason/.local/share/cinnamon/desklets/simple-system-mo

[2018-11-29 12:37] pdcurtis commented on #279
@jaszhix Thanks,
Deleted the `let NMClient_new;` without noticing - fixed and pushed.

[2018-12-02 10:54] slgobinath commented on #358
Hi,
I +1 this but we may need to change the desklet name later.
However, please wait until I fix all the issues in #342 and getting it merged because this PR replaces gcalcli by a Python script and the communication format is defined to JSON. It will give you a nice API (how you pass events to the desklet) to interact with the desklet.

[2018-12-02 14:51] spookylukey commented on #358
Great, thanks so much for the feedback. Until #342 is done I'll just work on a script that can generate an agenda from a CalDAV server, without thinking about integration with the desklet.

[2018-12-05 06:38] pdcurtis commented on #279
I have tested my latest updates to simple-system-monitor under Cinnamon 4.03 on a LiveUSB pushed it and created a PR

[2018-12-05 06:56] spantaleev commented on #279
Thanks @pdcurtis!

Sorry I haven't been able to find time to test this and help you out.. Been on the go lately..

[2018-12-12 22:54] #279 closed

[2018-12-13 14:06] slgobinath commented on #330
Hi @Auerilas,

Please note that this issue has been fixed with the recent PR. Now we do not rely on `gcalcli`, Please note that you need to install some new dependencies to get the latest desklet to work.

@jaszhix you can close this issue after the confirmation.

Thanks

[2018-12-13 14:07] slgobinath commented on #281
Hi @Auerilas,

Please note that this issue has been fixed with the recent PR. You need to install some new dependencies to get the latest desklet to work. Please check the updated installation instructions.

@jaszhix you can close this issue after the confirmation.

Thanks

[2018-12-13 14:15] slgobinath commented on #301
Hi,
The desklet has been updated with some major changes now. Could you please try the latest one?
Please note that you need to install some additional dependencies now. We do not rely on gcalcli anymore.

[2018-12-13 14:16] slgobinath commented on #267
Hi,

I have fixed some HiDPI issues which might be the reason for this problem. Could you please try the latest desklet? Please note that you need to install some additional dependencies to get the new desklet work. Check the updated README for more details.

[2018-12-13 14:32] #330 closed

[2018-12-13 14:32] #281 closed

[2018-12-13 22:59] slgobinath commented on #301
Thank you for updating me.

@jaszhix please close this issue.

Thanks

[2018-12-13 23:03] jaszhix commented on #301
@slgobinath Ok - just a heads up, you can add "Closes <PR #>" to your PRs, and they will close themselves when merged.

[2018-12-13 23:03] #301 closed

[2018-12-13 23:11] slgobinath commented on #301
Sorry for troubling you.
I wasn't sure if some issues are actually fixed by my PR ^_^. I will use this feature for the issues which are sure to be fixed.

[2018-12-21 10:55] brybalicious opened #367 "googleCalendar@javahelps.com Calendar time from incorrect time zone"
* Desklet version/Build date (to be found in "About.." or in "metadata.json")
 * Cinnamon version 3.6.7
 * Distribution - Mint 18.3 Cinnamon 64-bit
 * Graphics - Nvidia GeForce GT 620M, nvidia-340 driver

**Notify author of desklet**
@pbojan

**Issue**
The desklet generally shows the correct times for events. However, for one calendar, whose default time is Central European Time, when I create an

[2018-12-27 15:03] thegergo02 opened #368 "How to run a command, and read it's output?"
(I can't find any documentation, I don't know where to ask questions so I came here.)
I would like to use this to read curl's output. Can somebody link to a documentation?
Thanks.

[2018-12-27 16:19] jaszhix commented on #368
The utilities in cinnamon currently don't have an easy way to read stdout, but you could use a function like [this one](https://github.com/linuxmint/cinnamon-spices-applets/blob/07449f8bc6e32218be2fa9c0f532344df4efa27b/IcingWindowSaver%40json/files/IcingWindowSaver%40json/3.6/applet.js#L20). There's a [PR open](https://github.com/linuxmint/Cinnamon/pull/8130) in Cinnamon that adds a variant of thi

[2018-12-27 21:31] thegergo02 commented on #368
I found another solution to my problem, I used Soup for my get request. Thanks for your help!

[2018-12-27 21:31] thegergo02 opened #369 "My for loops don"

[2018-12-27 21:31] thegergo02 opened #370 "My for loops don"

[2018-12-27 21:31] thegergo02 opened #371 "My for loops don"

[2018-12-27 21:31] thegergo02 opened #372 "My for loops don't work"
I try to loop through an array, or just write out numbers, but my loops don't run.
Example: `
for (i = 0; i < 5; i++) {
            global.log(i);
        }
`

[2018-12-27 21:33] thegergo02 commented on #372
I run them at setupUI(), if it makes a difference.

[2018-12-27 21:49] jaszhix commented on #372
Extensions run in strict mode, so variables need to be declared. Are you checking ~/.xsession-errors or looking glass log (Alt + L)? You would see: `assignment to undeclared variable i`. Correct syntax:

`for (let i = 0; i < 5; i++) { global.log(i); }`

I recommend installing an eslint extension for the editor you're using, it helps catch things like this.

[2018-12-27 21:49] #372 closed

[2018-12-27 21:49] #369 closed

[2018-12-27 21:49] #370 closed

[2018-12-27 21:49] #371 closed

[2018-12-27 21:49] #368 closed

[2018-12-28 08:38] thegergo02 opened #373 "How to send POST request with Soup?"
I succesfully figured out how to send a GET request:
[code]
But I didn't find any desklet that sends a POST request, and I can't figure out how to set the body of the POST request. (request_body and request_body_data is not writeable)

[2018-12-28 08:48] thegergo02 commented on #373
I tried it like this:
[code]

[2018-12-28 09:05] thegergo02 commented on #373
Now it's working, I had to restart Cinnamon twice :)

[2019-01-08 12:16] #312 closed

[2019-01-16 19:27] franckgaga opened #384 "googleCalendar@javahelps.com : Won't start anymore"
[code]

**Notify author of desklet**
@slgobinath

**Issue**
The desklet won't load at all running on the Mint 19.1 cinnamon 4.0.9

**Steps to reproduce**
With the last version of the desklet, add it to your desktop and issue is printed

**Expected behaviour**
The desklet should load.

**Other information**

[2019-01-17 00:42] slgobinath commented on #384
Hi,

Warnings in `xdate.js` are known and you can ignore them.

Could you please execute the Python script and see if it prints your Calendar events?
[code]

[2019-01-17 14:52] franckgaga commented on #384
It won't run. The printed traceback is
`$ python3 google_calendar.py
Traceback (most recent call last):
  File "google_calendar.py", line 29, in <module>
    from dateutil.relativedelta import relativedelta
ModuleNotFoundError: No module named 'dateutil'`

[2019-01-17 22:00] franckgaga commented on #384
Yep and two other modules were missing. It now works by installing manually these 3 modules :
- `python3-dateutil`
- `python3-oauth2client`
- `python3-googleapi`

Thanks !

[2019-01-17 22:23] #384 closed

[2019-01-20 05:44] mockturtl opened #387 "googleCalendar@javahelps.com: still won't start (LMDE)"
[code]

@slgobinath

**Issue**

I was experiencing #384, but after installing the missing dependencies (#385) and updating, the desklet still won't start.

Here is the output of `google_calendar.py`:

[code]

My problem [seems to be](https://stackoverflow.com/questions/12626045/pytz-and-astimezone-cannot-be-applied-to-a-naive-datetime#comment86631711_12626045) due to a change in `python3` minor ve

[2019-01-21 15:19] slgobinath commented on #387
Hi,

I have tested this code in my system with the following code.

[code]
Can you try `datetime.now(timezone.utc).astimezone()` and see if it works.

Thanks

[2019-01-21 22:22] mockturtl commented on #387
Yes, `t2` and `t3` both print correctly for me.  I've updated #388 accordingly.

[2019-01-21 22:38] #387 closed

[2019-01-22 08:20] claudiux opened #389 "googleCalendar@javahelps.com: Please move credentials into ~/.cinnamon/configs/googleCalendar@javahelps.com"
**Feature Request**: Please move the credentials into the `~/.cinnamon/configs/googleCalendar@javahelps.com` folder

[code]

**Notify author of desklet**
Hi @slgobinath.

**Issue**
Whenever this desklet is updated, we need to renew the credentials because they are saved in the ~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/py folder, which is recreated.

**Steps to reproduce**
Updat

[2019-01-22 23:18] #389 closed

[2019-02-02 18:58] LinuxOnTheDesktop opened #392 "googleCalendar@javahelps.com: pip problem"
Well then, tell me how to find that 'UUID' and indeed what a 'UUID' is. I have guessed that the needful information is: 'googleCalendar@javahelps.com'.

[code]

**Notify author of desklet**
@slgobinath

**Issue**

No applet, perhaps because of pip problem.

**Steps to reproduce**

1. Find and follow the instructions on the Spices website.
2. Install prerequisites.
3. Download the applet.
4. Instal

[2019-02-02 19:30] slgobinath commented on #392
Hi,
I guess you get this error when you execute the following command:
[code]

If so, please add `--ignore-installed` argument to the command as shown below:
[code]

After the installation, please make sure that the `google_calendar.py` works as expected by executing the following commands:
[code]

Even though, I couldn't reproduce this problem I hope the above solution should fix it.

[2019-02-02 20:04] #373 closed

[2019-02-02 23:42] LinuxOnTheDesktop commented on #392
Thank you. The applet still does not work. Here is my output.

[code]

I then ran the applet, which resulted in the screen flashing and nothing else happening.

[2019-02-03 12:16] slgobinath commented on #392
According to the xsession log there is no error in the desklet part. We need to figure out why the Python script does not print any events.

Could you please check your Google Calendar in the browser for events in the next 7 days. If you don't have any events this behavior is expected.

[2019-02-03 13:04] LinuxOnTheDesktop commented on #392
Thanks. I have events within the next seven days - at least in one calendar: I have multiple calendars. When trying to set up the desklet I did specify what I believe is the right calendar.

Also: upon running the Python command again - after opening Google Calendar in a browser - I get this output:

[code]

It is perhaps worth noting the following. (1) I use a VPN. (2) My Firefox uses a proxy con

[2019-02-03 15:05] LinuxOnTheDesktop commented on #392
Having deleted `calendar.dat`, disabled my vpn, and set Iridium (which does not use a proxy - a proxy that only works when the vpn is up) as my default browser, and authenticated, the desklet appeared. The text of the desklet said: 'no events'. I discover that when I set the desklet to my original Google calendar, everything works. However, when I set the desklet to use the Google Calendar that I

[2019-02-03 16:08] LinuxOnTheDesktop commented on #392
Yes, I have been doing that.

No. Rather I continue to see 'no events found'.

Perhaps I should add that my main calendar's name is simply: 'NJ'.

[2019-02-13 10:53] flaviojs opened #395 "deskNote@BrainAxe : allow multiple instances"
This issue is a feature request... I'm using deskNote@BrainAxe and I want to place multiple notes on my desktop.

Changes needed (I'm using Cinnamon 3.0.7):

1) fix the instance id of the settings (`this.instance_id` should be `desklet_id`)
https://github.com/linuxmint/cinnamon-spices-desklets/blob/5b9c23d901512611628b1d9166fa0d1bd8aaa4f0/deskNote%40BrainAxe/files/deskNote%40BrainAxe/desklet.js#L3

[2019-02-15 11:50] flaviojs commented on #395
@BrainAxe (poking the author in case he was not notified)

On another note, you can add newlines directly after changing  the setting type from "entry" to "textview" ([available since 1.9.2?](https://github.com/linuxmint/Cinnamon/commit/7e57d3191c2b9e3d66cd01fae6209bfe94c95f55)), so you would not need to use `%%` for newlines anymore.

The setting type is easy to miss since the [online docs](http:

[2019-02-15 17:25] BrainAxe commented on #395
Thanks @flaviojs for the information. I am thinking of changing the setting type to "textview". ok?

[2019-02-15 21:30] flaviojs commented on #395
Nice, don't forget to update the po folder. (msgid "Note: (use %% for newline)" changed to "Note:")

[2019-02-20 14:22] Nigel-727 opened #398 "googleCalendar@javahelps.com : does NOT show events of calendars that are identified by an EMAIL address"
[code]

**Notify author of desklet**
@slgobinath

**Issue**
I first wrote about the issue here
    https://cinnamon-spices.linuxmint.com/desklets/view/35
under the name "Zoli", on February 19, 2019.

Here are the details:

$ gcalcli list
* CORRECTLY gives a list of all the calendars I have access to:
     Authentication successful.
             Access  Title
             ------  -----
     freeBus

[2019-02-20 16:57] slgobinath commented on #398
Hi,

Thanks for opening this issue. A bug which **may** cause this issue has been fixed in #397. Once the PR is merged, we can work on this issue.

[2019-02-21 13:32] slgobinath commented on #398
Hi,

Please update the desklet and check if it is working or not. If not, please foloow these steps and let me know the result:

1. Open the configuration dialog and enter the following client secret and id:

Client id: `232867676714.apps.googleusercontent.com`
Client secret: `3tZSxItw6_VnZMezQwC8lUqy`

2. Remove the calendar.dat using this command:
[code]

3. Just click on the desklet (or you can

[2019-02-22 12:24] bontchev commented on #295
Any chance this ability could be implemented in the official release? It's been nearly a year already. The part of the world that's not the USA is anxiously awaiting it...

[2019-02-23 13:02] slgobinath commented on #213
Please accept my apologies for the delay.

@NikoKrause thank you very much for testing the solution. This solution has been implemented in https://github.com/linuxmint/cinnamon-spices-desklets/pull/399

[2019-02-23 13:11] slgobinath commented on #398
Hi @Nigel-727,

Any updates?

[2019-02-23 13:43] Nigel-727 commented on #398
I will be at my laptop next time on Monday evening at earliest.

Gobinath <notifications@github.com> ezt írta (időpont: 2019. febr. 23.,
Szo, 14:11):

[2019-02-23 14:55] slgobinath commented on #398
Sounds good

[2019-02-26 18:33] Nigel-727 commented on #398
Now it works! :+1:

[2019-02-27 00:36] slgobinath commented on #398
Hi,

It means something wrong with the permissions I acquire. I will analyze the permissions required by `gcalcli` and update the desklet.

However, there is nothing wrong with using gcalcli authentication. So just enjoy the desklet :-)

[2019-02-27 08:04] Nigel-727 commented on #398
[offtopic] BTW, is there a way to display not only events but reminders and tasks as well? (like in a web browser) i extensively use them.

[2019-02-27 12:34] slgobinath commented on #398
Hi,
Currently, the desklet does not support reminders. I will consider this as a feature request.
Once I get some time, I will work on this.

[2019-02-27 15:31] #395 closed

[2019-02-28 00:48] slgobinath commented on #398
Hi,
I would like to see the impact of writable permission in retrieving events. Could you please help me to test the code in your system?

**NOTE: You don't need to modify the desklet configuration for this test.**

1. Open the `~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/py/google_calendar.py` in a text editor and remove the `.readonly` in line number 55.

The original code:
[co

[2019-02-28 10:12] Nigel-727 commented on #398
I did as you asked. At the end, I saw a JSON(!?) list of the events. Then I wrote:
$ python3 google_calendar.py --list-calendars
That gave a list of _all_ the calendars that I have plus _that is shared with me_. :) :+1:
That's what you were asking in "please let me know the result?"

BTW, is there a dedicated place for feature requests? Because one would be: It is hard to tell events of one calend

[2019-02-28 11:45] slgobinath commented on #398
Great! I will include the fix in my next commit.

You can open a GitHub issue notifying the author. However, no need for the features you already asked:
- Change event color based on Calendar (It will be the next feature)
- Reminders and Tasks (I will start with Tasks)

[2019-02-28 11:45] slgobinath commented on #398
BTW thank you very much for your help :-)

[2019-03-01 05:53] BiaginiMatheus opened #405 "googleCalendar@javahelps.com: Google Calendar Desklet doesnt appear on my desktop screem"
I am new using Linux Mint and I tryed to use this desklet and it doesnt appears on my screen

**Output of python3 ~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/py/google_calendar.py**

#!/usr/bin/env python3
# -*- coding: utf-8 -*-
#
# Google Calendar Desklet displays your agenda based on your Google Calendar in Cinnamon desktop.
#
# Copyright (C) 2018  Gobinath
#
# This program is

[2019-03-04 09:22] BabloP opened #406 "googleCalendar@javahelps.com: something went wrong"
Kernel: 4.15.0-45-generic x86_64 bits: 64 compiler: gcc
           v: 7.3.0 Desktop: Cinnamon 4.0.9 wm: muffin dm: LightDM Distro: Linux Mint 19.1 Tessa
           base: Ubuntu 18.04 bionic
desktop application error "something went wrong googleCalendar@javahelps.com" (desktop)
pip3 install oauth2client
**Requirement already satisfied: oauth2client in ./anaconda3/lib/python3.7/site-packages (4.1.3)

[2019-03-12 23:09] f-istvan opened #408 "Gulp task doesn't reload the desklet"
When I run the gulp watcher as specified in the documentation everything looks good. On saving  `desklet.js` the file is copied to `~/.local/share/cinnamon/desklets/hello@fistvan/desklet.js` and Melange logs the following:
[code]
The desklet also blinks when it reloads.

However, when I change something in `desklet.js` e.g.: `my log entry` to `your log entry` I still see the same log message `my l

[2019-03-13 15:27] jaszhix commented on #408
Cinnamon 3.6 has a regression where extensions cannot reload. This was fixed in Cinnamon 3.8.

[2019-03-13 15:27] #408 closed

[2019-03-14 10:47] slgobinath commented on #406
Hi,
Do you get the JSON list of events in the terminal when you run:
[code]

[2019-03-15 23:41] slgobinath commented on #318
Hi @RickSlashee,

The fix has been merged into the master branch. After updating the desklet, the config dialog must open. If it doesn't please do let me know.

[2019-03-23 23:34] Some-Chords opened #414 "simple-system-monitor@ariel: 'something went wrong while loading'"
@arielandrade

 * Version 1.0.0
 * Cinnamon 3.6.6
 * Mint 18.3
 * amd64-microcode, Version 3.20180524.1~ubuntu0.16.04.2

Glass.log:
error t=2019-03-23T22:58:08.985Z Could not load desklet simple-system-monitor@ariel
error t=2019-03-23T23:08:18.653Z No JS module 'simple-system-monitor@ariel' found in search path
https://pastebin.com/w6WfL4bT

.xsession-errors
https://pastebin.com/rwQQVjwL

Not sure

[2019-03-26 10:51] robo2bobo opened #419 "tail the journal"
Hello,

I am trying to write a desklet to tail the journal.

I wanted to avoid constantly running journalctl and reading its output, but it seems that is the only way to do it without installing extra packages (systemd sockets, etc).

Is there a more "cinnamon" friendly way to do this in a desklet?

Thank you.

[2019-04-06 16:06] JessW opened #420 "quoteOfTheDay@tinnu Displaying new quotes too frequently intermittently on Cinnamon 18.3"
I received this email recently about Quote of the Day, and I don't want to lose this issue, although I haven't quite got the time to look in to it right now:

"Your quote of the day desklet is broken for me. Sometimes, randomly throughout the day, it will just start randomly flipping through quotes every second and there's no way to stop it. I have the Update every set to 160 minutes but it won't

[2019-04-09 03:20] Symilds commented on #406
I have the same issue as OP, and when I run the above, i get no output, no errors.
--list calenders lists everything fine though.

[2019-04-09 23:24] zip9 commented on #406
I too have the same symptom as Symilds (empty json output), but at times the calendar shows on my desktop. The config must be set at 2 days. I also have the weather desklet, and notice the font on the weather desklet is affected  when adding calendar desklet. After having the calendar desklet appear, it rarely updates on it's own, and will not update when clicked.

[2019-04-10 00:32] Symilds commented on #406
I seem to have fixed my issue by manually entering each calendar name, one at a time until I found out which one was causing issues.

[2019-04-12 12:35] kuehhe1 opened #422 "googleCalendar@javahelps.com: desklet shows Days, Month and Weeks in English"
Hello,
since the last google calendar update, all calendars are weekdays and months in long and short in english. How and where can I in which fileI adjust this in DE (German)?  In the older Version was it configured in the: ~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/lib/xdate.js.
In the new Version i can't found it.

Best regards
kuehhe1

!-- Desklet's UUID should be in the tit

[2019-04-12 15:06] kuehhe1 commented on #422
Habs selbst herausgefunden.
Die Sprachdateien z.B. >fr.po, it.po, de.po< sind nur für das _GUI Google-Calendar_ selbst vorgesehen und dort gespeichert:`~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/po`

Die Strings der _Kalendertage_ und _Monat_e sind in langer und kurzer Form in Englisch vorgegeben und lassen sich in der Datei "_xdate.js_" austauschen:`~/.local/share/cinnamon/desk

[2019-04-13 07:01] zip9 commented on #406
Thanks for the comment Symilds, I had created calendars on a website - and removing those fixed my issue. Pulled the data, created csv files and imported into Google calendar on Firefox. Would not work on Chrome, but Firefox had no problem...and now all events show. Still have that very attractive shadow (weather desklet fonts) when using calendar, but no issues.

[2019-04-15 19:48] f-istvan opened #424 "ViennaTextBasedWeather@f-istvan: How to pass quality gate"
Could you please help me to fix these quality issues:

1) `on_desklet_removed`: if I'm right this function is provided by the api.
2) `imports` is also provided by the framework.

Here is the report:
https://app.codacy.com/app/cinnamon-spices/cinnamon-spices-desklets/pullRequest?bid=6255201&prid=3434533#newIssuesView

Is there a way to run these checks on local machine before push? Are the rules a

[2019-04-16 14:39] Stebs opened #426 "googleCalendar@javahelps.com: Calendars with url or "," in name do not show up in desklet"
googleCalendar@javahelps.com
[code]
**Issue**
I have several calendars that are not shown with the desklet, despite being correctly shown with
python3 ~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/py/google_calendar.py --list-calendars

Probably it is related to some special characters in the name of the calendars.

One (public) example is:
https://www.gamingonlinux.com/livestreams

[2019-04-19 08:18] kuehhe1 commented on #422
Hello, the working google-calendar Desklet is already history after the update of "2019-04-14, 23:01 UTC".  > :( Symptom: Suddenly the Desklet did not work properly and did not show any appointments, a check in "Add Desklet" showed that there was an update, after that it does not work anymore, it does not open and instead just shows up as a little black one  Point on the desktop and also affects t

[2019-04-19 08:22] kuehhe1 commented on #422
Hello, the working google-calendar Desklet is already history after the update of "2019-04-14, 23:01 UTC". > :( Symptom: Suddenly the Desklet did not work properly and did not show any appointments, a check in "Add Desklet" showed that there was an update, after that it does not work anymore, it does not open and instead just shows up as a little black one Point on the desktop and also affects the

[2019-04-30 23:41] bdamer commented on #414
For what it's worth, seeing the same issue on my machine:
* Version 1.0.0
* Cinnamon 3.6.7
* Mint 18.3
* intel-microcode, version 3.20180807a.0ubuntu0.16.04.1

Identical error in glass.log:

    error t=2019-04-30T23:29:12.275Z Could not load desklet simple-system-monitor@ariel
    error t=2019-04-30T23:29:37.021Z No JS module 'simple-system-monitor@ariel' found in search path
    trace t=2019-04-

[2019-05-11 23:48] jeremy21212121 opened #428 "notes@schorschii: Warning when adding desklet: "This desklet contains function calls that could potentially cause Cinnamon to crash or freeze""
After installing notes@schorschii, there is a warning in the Desklets UI: "This desklet contains function calls that could potentially cause Cinnamon to crash or freeze".

I found the function calls that trigger that warning [here](https://github.com/linuxmint/cinnamon/blob/master/files/usr/share/cinnamon/cinnamon-settings/bin/ExtensionCore.py#L33). The specific function call triggering this warni

[2019-05-12 03:09] Odyseus commented on #428
Hello, @jeremy21212121.

That message that you see is a warning, not an error. It's mostly there so, in the case of a Cinnamon crash/freeze/lock, you start looking the xlets that have that warning as possible culprits.

Using a synchronous file read function isn't inherently *bad* and not always is possible to replace with an asynchronous call. In fact, `Cinnamon.get_file_contents_utf8_sync()` [is

[2019-05-26 22:49] FMaside opened #430 "googleCalendar@javahelps.com desklet suddenly stopped working"
Hi, I've been using the calendar desklet for the past months without any problems but, since a couple of days ago, it suddenly stopped showing up. When I try to activate it from the desklets app, it says that something went wrong when loading it.

I used the command: python3 ~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/py/google_calendar.py --list-calendars

And it shows the name

[2019-06-08 11:21] alpha0mega96 opened #432 "[netusage@30yavash.com] Fonts too small for HiDPI display."
I don't understand the issue format specified here, except here's the image of the text size

It's too small to view!
![Too small font](https://user-images.githubusercontent.com/17196013/59146573-988b8880-8a0d-11e9-85dc-7d175915dffe.png)

[2019-06-08 11:22] alpha0mega96 opened #433 "[netusage@30yavash.com] Classic + Hourly mode blinks every now and then (blinks on and off for 1 second)"
Title..

[2019-06-25 09:21] claudiux commented on #405
Have you installed all the dependencies? Please see https://cinnamon-spices.linuxmint.com/desklets/view/35
Install all dependencies, the reboot your computer and try:
`python3 ~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/py/google_calendar.py --list-calendars`

In the settings of this desklet, copy in the third line at least the first output of the command above (ie your email add

[2019-06-25 09:35] claudiux opened #434 "googleCalendar@javahelps.com: [Feature request] Show every day an event that takes place over several days."
[code]

Hi @slgobinath,

This is a feature request.

When an event takes place over several days, it is displayed only on the first day. Can you add an option to display it every day, please?

Many thanks for your great desklet!

Best regards.
claudiux

[2019-06-25 10:49] slgobinath commented on #434
It looks like a bug. When I developed this desklet for the first time, I implemented the support for multiday events (I remember I tested with two day events). I will have a look at it.

[2019-06-25 13:50] claudiux commented on #434
Thank you @slgobinath !

[2019-06-26 11:03] slgobinath commented on #434
Confirmed the bug. I will push the fix in a few days.

[2019-07-23 03:52] claudiux commented on #430
Try this:
`python3 ~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/py/google_calendar.py  --list-calendars | tr "\n" "," | sed s/,$/\\n/g`

Then, in the Settings of this desklet, set the `Calendar name(s)` entry to the value returned by the command above.

[2019-07-24 12:44] #434 closed

[2019-08-01 18:26] f-istvan opened #444 "ViennaTextBasedWeather@f-istvan"
**Issue**
Sometimes there are two items about 'heute' (today).
For instance: "Heute Nachmittag" and "Heute Abend, heute Nacht"
In those cases the desklet unable to parse the HTML correctly.

**Steps to reproduce**
Wait till there are two 'heute' items in the HTML at `https://wetter.orf.at/wien/prognose`

**Expected behaviour**
The HTML is always parsed correctly. Showing the first 'heute' related

[2019-08-01 20:17] #444 closed

[2019-10-10 16:15] ddarnell1 opened #447 "bbcwx@oak-wood.co.uk: Weather Desklet change APIXU to weatherstack"
Please convert APIXU data service to weatherstack. APIXU shuts down October 14, 2019. See:

https://github.com/apilayer/weatherstack#readme

Thank you!

[2019-10-10 19:58] hoppyjohn opened #448 "googleCalendar@javahelps.com: Desklet working but only appears as a dot on my desktop."
Google Calendar Desklet
UUID: googleCalendar@javahelps.com
Build 08-15-2019
Cinnamon version 4.0.10
Distribution - Mageia 7
Graphics - NVIDIA GK107 (GeForce GT 740) - driver NVIDIA 430.50

I've installed the desklet and made sure I installed all the dependencies.  But the calendar is not appearing on my desktop.  All I can see is a dot (if I click it, I get the Open Google Calendar, about, configu

[2019-10-13 22:02] erickpaquin opened #449 "Show IP geo location - show-remote-ip-desklet@nejdetckenobi"
[code]

**Notify author of desklet**
@nejdetckenobi

**Issue**

Not really an issue but a feature request. Would be cool that the desklet also shows the location of the IP (amsterdam, tokyo etc..).

**Steps to reproduce**

**Expected behaviour**

Just showing it underneath the IP would be great.

**Other information**

[2019-10-14 05:29] nejdetckenobi commented on #449
Hey @erickpaquin
It is a good feature to have! I'll work on it and ping you when it's done. Thank you

[2019-10-14 12:34] erickpaquin commented on #449
Thanks!

On Mon, Oct 14, 2019, 1:29 AM Nejdet Çağdaş Yücesoy <
notifications@github.com> wrote:

[2019-10-25 18:31] stefan123t commented on #358
Hi, @slgobinath thanks for the current googlecalendar desklet. I only use owncloud/nextcloud caldav API on my own host, therefor +1 on the suggestion of @spookylukey.

The official gnome-calendar application (I have calendar 3.28.2 on linux mint 19.1 tina at the moment) uses libical3 as a backend. This readily supports Google, Nextcloud/Owncloud and MS Exchange as backends under Linux.
* https://g

[2019-11-08 14:42] andvenancio opened #459 "One day late on desktop"
[code]

When I run the line command **python3 ~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/py/google_calendar.py** I see the informations and they are ok, but on desktop they are showed with delay of 1 day. Example: today is "November 8", on desktop is showed "TODAY, NOVEMBER 7". All appointments are displayed one day late.

![image](https://user-images.githubusercontent.com/25935

[2019-11-11 10:21] slgobinath commented on #459
Hi,

Thanks for reporting this issue. It will be fixed with the PR https://github.com/linuxmint/cinnamon-spices-desklets/pull/460

[2019-11-11 19:39] #459 closed

[2019-11-11 20:34] andvenancio commented on #459
Hi,
I updated Google Calendar Desklet but it still has problem.
Today is the November 11, the calendar shows my schedule of tomorrow (November 12) but indicating as if it were on the day 11:
![image](https://user-images.githubusercontent.com/25935569/68619063-7230b400-04a9-11ea-85ae-98b94ee9e8e9.png)

[2019-11-12 00:39] slgobinath commented on #459
Could you please open the file `~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/lib/xdate.js` and check line number 99 to 105. It should look like this:

[code]

[2019-11-12 11:11] andvenancio commented on #459
On my system this function it's different:

`
function T(e, n, r) {
   for (var i, o = u.parsers, s = 0; s < o.length; s++)
      if (i == o[s](e, n, r)) return i;
         return r[0] = new t(e), r
}
`

How can I update this to work correctly?

[2019-11-12 12:06] slgobinath commented on #459
Hi,
Just replace the function T by the above one and save it. Then restart Cinnamon (right click on task bar, Troubleshoot -> Restart Cinnamon)

[2019-11-12 13:56] andvenancio commented on #459
Thank you @slgobinath.
Now it's working well done.

[2019-11-17 15:36] eth001 commented on #433
same here

[2019-11-22 19:35] Redsandro opened #464 "[cryptocoins@pbojan] Icons stretched on HighDPI"
[code]

**Issue**

Icons are stretched on a scaled ui.

![image](https://user-images.githubusercontent.com/1702193/69454873-7beacf00-0d67-11ea-902b-0df2fdf899c7.png)

Tried to write PR but I can't figure out what's causing this.

[2019-11-28 14:47] CTHEDESTROYER commented on #405
Just in case you have not solved this problem. To display the calendar, navigate to desklets  go to manage and click the configure button next to Google Calendar. There, you can enable it to be displayed on your desktop.
![Screenshot from 2019-11-28 06-46-53](https://user-images.githubusercontent.com/58269387/69815342-ee660f80-11aa-11ea-8ee9-15e7c6f4d12f.png)

[2019-11-28 15:25] erickpaquin opened #471 "Ip address not showing after disconnection from VPN | show-remote-ip-desklet@nejdetckenobi"
**Notify author of desklet**
@nejdetckenobi

Software and machine used :

Last build of desklet : July 14 2019
Running on a Dell laptop with Linux Mint v 18.3 , cinnamon v 3.6.6 and a GeForce GTX 1050 Mobile.

**Issue**

I use a VPN from time to time. If the desklet is already up, when I connect to the VPN and recheck my IP, the new IP shows up no problem. But when I disconnect and recheck my IP,

[2019-12-02 11:11] Padre2 opened #477 "UUID: googleCalendar@javahelps.com - Not displaying in Cinnamon 4.4"
@javahelps.com
![Screenshot from 2019-12-02 18-22-54](https://user-images.githubusercontent.com/38849451/69955764-01713a80-1531-11ea-83eb-d5a7e4b1551c.png)
 * Desklet version/Build date - Updated on 2019-11-24 17:38:24
 * Cinnamon version 4.4
 * Distribution - Arch
 * Graphics hardware AMD/ATI Radeon
 * Snippet or attachment of ~/.cinnamon/glass.log
info t=2019-12-02T17:54:00Z Loaded desklet googl

[2019-12-19 06:24] two-dogs commented on #477
from spotchat server channel #linuxmint-help, @Odyseus explains to crazytux how to fix issue

[22:13] <Odyseus> CrazyTux: The exact locations is: ~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com. Edit the metadata.json file in there.
........
[22:14] <Odyseus> CrazyTux: Odyseus CrazyTux: You could "make compatible" that desklet with your current Cinnamon version. Just add the it to th

[2019-12-19 12:25] Padre2 commented on #477
@two-dogs Thanks, that was the first thing I tried and it does stop the compatibility warning allowing it to load, but nothing appears to the desktop.  Am I missing something?

[2019-12-19 16:17] mosge commented on #477
It appears only as a small ball and very little visible because the transparency is set to 50%. However, the desklet doesn't work at this time because "The Connect with Google option is temporarily disabled for this application. The app has not yet been verified by Google to use Google Connect"
You will see this warning when you try to sign in to your Google Account

[2019-12-20 05:20] Padre2 commented on #477
@mosge  Thanks, I read about the verification issue, but would have assumed that the applet had received a verification at some time in the past. Did it expire or were changes made?
There is nothing on my desktop, but something must be connecting because I received a notification of a Google Calendar reminder!

[2019-12-20 18:08] Leopard1907 opened #479 "Disk Space@schorschii: can't list 16 gb dual stick ram properly , lists one stick 8 gb instead of whole"
[code]

**Notify author of desklet**
@schorschii

**Issue**

Just like it says in the title. On a 16 gb system ( 8x2 dual stick ) , ram usage desklet only shows 8 gb as total and as adjust percentage of ram usage according to that. Which is wrong.

**Steps to reproduce**

Installing this desklet and using ram usage info function

**Expected behaviour**

Properly recognizing total ram value. I have

[2019-12-22 01:26] Leopard1907 commented on #479
Update: That is weird and i didn't caught it earlier.

Desklet actually shows the correct ram size at the beginning , aka when you boot your pc. But after that , over time it slowly shrinks and after like 45 minutes it dips down to 8 gb level.

[2019-12-22 14:18] schorschii commented on #479
Thanks for your detailed report. I'm working on a fix.

[2019-12-22 18:11] #479 closed

[2019-12-23 08:19] Padre2 commented on #477
Installation information is confusing, if applied to Arch. There are no `python3` packages.  Installed are `python version 3.8.0` and other packages:   `python-pip python-setuptools python-dateutil` python-oauth2client.  However, `python-googleapi` does not seem to exist. Found and installed `python-google-api-python-client 1.7.11`, perhaps not correct and still no desklet.

[2019-12-23 16:18] Leopard1907 commented on #479
Issue is not fixed by 1.5

Just putting up a screenshot with this. As you can see, after 20 mins usage.

![Ekran Görüntüsü - 2019-12-23 19-17-20](https://user-images.githubusercontent.com/24878978/71368419-f605b200-25b8-11ea-96b6-83c60d79ba39.png)

[2019-12-23 20:14] Leopard1907 commented on #479
@brownsr It is not fixed.

[2019-12-25 17:07] transcengopher opened #481 "clock@schorschii: Desklet appears on top of active Remmina window"
[code]

**Notify author of desklet**
@schorschii

**Issue**
When using Remmina's RDP connection, the desklet "pops up" on top of the active viewport window, carving out a small square hole around it, where I can also see the wallpaper in the corners. The carved hole seems to correspond with desktop grid, as the hole is larger than colored overlay displayed when editing desklet settings.

This does

[2019-12-26 19:40] schorschii commented on #481
Hi @transcengopher ,
I experienced this issue rarely on some notebooks. Because it doesn't appears on my own computers, I wasn't able to search more closely. When I saw it last it affected all desklets, not only my clock specifically. Can you please place some more desklets on your desktop (and remove the clock temporarily) and report the result? I guess that it is a cinnamon issue.

[2019-12-26 19:55] schorschii commented on #479
@Leopard1907 Can you please restart cinnamon to ensure cinnamon really loaded the new version? (When updating manually by unpacking the files in `~/.local/share/cinnamon/desklets` cinnamon must be restarted in order to load the new version.)
If it persists please paste the output of the `free` command here at the time the desklet shows wrong values. Thanks.

[2019-12-27 08:29] Leopard1907 commented on #479
I've updated it via cinnamon desklets app so no manual update.

I will purge desklet anyway. And try with a fresh desklte installation.

[2019-12-27 08:56] Leopard1907 commented on #479
After purging the desklet and installing it fresh problem seems to be gone. Thanks for your interest.

[2019-12-29 17:12] transcengopher commented on #481
@schorschii, yes, I've also just now seen it with the default clock (clock@cinnamon.org), meaning it's not exclusive to your desklet.
Appears to happen when desklet has a UI update, i.e. I didn't see anything (yet) when using a photoframe desklet that did no updates.

[2020-01-02 00:03] Niwla23 opened #484 "Dont use "he" in README"
In README you are using he. You should use they or he/she

[2020-01-09 15:24] Padre2 commented on #477
@javahelps.com  Installed the update.  Now on Cinnamon version 4.7.  Still no desklet.

[2020-01-18 05:50] mrprajesh opened #492 "googleCalendar@javahelps.com Sign in with Google temporarily disabled for this app"
[code]
@slgobinath

**Issue**
It seems like Google has temporarily disabled sign in. Below is error when trying to signing using the auth link.

**Error**
Sign in with Google temporarily disabled for this app
This app has not yet been verified by Google in order to use Google Sign in.

To reproduce:
May be to remove existing access to the app from google account>security>third-party and try to app

[2020-01-26 09:39] ghost opened #495 "Disable refresh quotes on the weekend?"
[code]

**Notify author of desklet**
lorix4ebay@gmail.com

**Issue**
The applet looks very good and useful, THANK YOU! just only question, it would be possible to select a mode to disable the quotes refresh on the weekend?

[desklet error](https://i.postimg.cc/5N8zdnjN/Schermata-del-2020-01-26-11-05-12.png)

[2020-02-12 08:18] #419 closed

[2020-02-23 15:15] bridnour commented on #492
I've found a workaround:

1. Follow the optional API instructions at https://github.com/insanum/gcalcli#login-information.

2. This will give you a Client ID and Client Secret.

3. Edit ~/.local/share/cinnamon/desklets/googleCalendar@javahelps.com/py/google_calendar.py and replace the default ID and Secret with the one's you created.

4. Run ~/.local/share/cinnamon/desklets/googleCalendar@javahelp

[2020-02-23 15:43] slgobinath commented on #492
Hi,
Sorry for not responding here. Google is verifying the desklet but it takes forever. I've written a medium post explaining how to add your own credentials here:

https://medium.com/@lgobinath/how-to-use-google-calendar-desklet-41d8aa0dbedd

Above link is added to the read me in the PR #496

I hope Google will verify the desklet asap.

[2020-02-27 05:31] mrprajesh commented on #492
Thank you @bridnour  and @slgobinath
It works now.

[2020-02-27 05:31] #492 closed

[2020-03-01 01:53] papermache opened #497 "What is the recommended "thermal-file" path?"
I've tried "/sys/devices/virtual/thermal/thermal_zone0-11/temp" and it's still stuck on 20 degrees C. Using Cinnamon 4.4.8 on Mint 19.3 kernel 5.3.0-40-generic.

[2020-03-08 07:25] herbstschweigen opened #498 "clock@schorschii fails to start after Arch update"
* Version 1.5 (2019-11-24 11:15:12)
 * Cinnamon version 4.4.8
 * Arch Linux with Kernel 5.5.8-arch1-1
 * Intel Corporation 4th Gen Core Processor Integrated Graphics Controller, i915

LookingGlass log:
info t=2020-03-08T07:54:02Z Loaded applet panel-launchers@cinnamon.org in 168 ms
**error t=2020-03-08T07:54:02Z [[boxed instance proxy GIName:GLib.Error jsobj@0x7f09304760a0 native@0x556db763b880]]:

[2020-03-17 19:24] chromer030 opened #501 "Simple system monitor Not Loading on Cinnamon 4.4.8"
Simple system monitor Desklet

 * Cinnamon 4.4.8
 * Arch linux
 *  Intel HD 630

This Desklet is great but not loading on cinnamon 4.4.8.

[2020-03-19 07:49] schorschii commented on #498
I'm having trouble reproducing this issue. I installed a fresh Arch in a VM and the clock desklet works fine. Can you please check if the problem persists on a fresh installation?

[2020-03-21 19:19] herbstschweigen commented on #498
Hi, thanks for your reply. I tried uninstalling and reinstalling the clock desklet, but that does not fix the error. I don't know when I can get to do a check with a new VM install, as Arch is my main system and due to the current situation I need my machine for home office work.
For now I have uninstalled the analog clock desklet.
Bleib gesund!

[2020-03-24 20:27] OndrejMalek opened #504 "Strange link in footer of https://cinnamon-spices.linuxmint.com/"
**Issue**
Link http://developer.linuxmint.com/reference/git/cinnamon-tutorials/extension-system.html takes me to some library. Is it intentional? Does not seems so. Where are development docs?

[2020-04-05 01:40] nicemicro opened #508 "[soundBox@scollins] Only the volume of one application can be adjusted"
* Desklet version/Build date: Version 2.1 (2019-10-20 04:42:53)
 * Cinnamon version: 4.4.8
 * Distribution: Arch Linux
 * Graphics hardware *and* driver used: GeForce GTX 1050 with nvidia 440.64-9 drivers

**Notify author of desklet**
@clefebvre @collinss @NikoKrause

**Issue**
If I turn on "Show application volume controls", but multiple applications are playing sounds, only one application's vol

[2020-04-06 17:09] mateusscheper opened #509 "Can't authenticate when first installing desklet - googleCalendar@javahelps.com"
[code]

[2020-04-14 10:59] FantaMagier commented on #509
same problem

[2020-05-08 16:42] Fire-SKull opened #519 "hello, thank you"
hello I am new to these matters, I need help to change the first day of the week from Sunday to Monday and hide the name of the month above and that only the name of the month under full can be seen with the previous and next arrows, and I would like to customize the desklet calendar @ deeppradhan

[code]

**Notify author of desklet**
@

**Issue**

**Steps to reproduce**

**Expected behaviour**

*

[2020-05-13 22:29] Leonidas967 commented on #318
Hi slgobinath, everything is up to date. The configure button still won't work. Any fix for this?

[2020-05-15 11:31] herbstschweigen commented on #498
Does not occur any more with Cinnamon 4.6.0, hence closing the issue.

[2020-05-15 11:31] #498 closed

[2020-05-16 05:12] Padre2 opened #530 "googleCalendar@javahelps.com not compatible"
[code]

**Notify author of desklet**
@javahelps.com

**Issue**

Issue can be fixed by adding"4.6" to the metadata.json file.

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2020-06-01 03:50] bit1sam commented on #509
Yeah the same issue here, it sent a verification email I verify said email then try again and still no luck. Is it possible it may be the security setting in Gmail preventing it from allowing?

[2020-06-01 03:56] bit1sam commented on #509
Am i the only one dealing with this error "Failed to start a local webserver listening on either port 8080 or port 8090. Please check your firewall settings and locally running programs that may be blocking or using those ports." i figured it might be normal

[2020-06-04 08:24] dunkel-herz commented on #519
Hello there. Here is solution, how to change days. Monday and Sunday.
Make changes in files ~/.local/share/cinnamon/desklets/calendar@deeppradhan

in file calendar.js type
var WEEKDAY_NAMES = [ "Monday", "Tuesday",
		"Wednesday", "Thursday", "Friday", "Saturday","Sunday"];

in file desklet.js change sunday zero day to 6 and saturday 6 day to 5 for correct color styles

// Set weekday style
		for (

[2020-06-04 11:21] Fire-SKull commented on #519
Thank you very match

[2020-06-04 11:21] #519 closed

[2020-06-05 12:13] slgobinath commented on #509
This happens because Google is verifying the application for months. The process started last year September and still its under review. Don't panic there is no security violations. The long story in short:
When you authenticate the desklet to access your Google Calendar, Google provides a token. The token is saved on your computer and only used by the desklet (not shared with me or any third part

[2020-06-05 18:22] #530 closed

[2020-06-19 20:53] #509 closed

[2020-06-22 15:10] Padre2 commented on #477
Back in February I finally got  the applet to work after authenticating with Google,  Some days ago there was an update introducing a `gcalendar` package that stopped it working, but I fixed it after understanding how `gcalendar' works.  Today the applet was updated and stopped working again. After reinstalling I found that `gcalendar` has errors.  I will open a new issue.

[2020-06-22 15:10] #477 closed

[2020-06-22 16:10] Padre2 opened #540 "googleCalendar@javahelps.com"
@javahelps.com

[code]

**Notify author of desklet**
@javahelps.com

**Issue**
Stopped working.

**Steps to reproduce**
Update to latest version.
Reinstall desklet.
Run `gcalendar`.
Errors shown in terminal.
Not working, no desklet.

**Expected behaviour**
Authentication with gcalendar
Desklet on on desktop,

**Other information**
I had finally got the old version working by authenticating with Go

[2020-06-22 17:09] dave841 opened #541 "hostcheck@schorschii: how do i setup up the Host check"
[code]

<!-- Author list: Host Check app
**Notify author of schorschii)
@

**Issue**
 i have a problem how do i setup the app. all i get is /bin/ping and /usr/bin/curl which is not installed
![Screenshot from 2020-06-22 18-04-26](https://user-images.githubusercontent.com/60449271/85315667-61bad000-b4b3-11ea-8ff7-70147749bfda.png)

**Steps to reproduce**

**Expected behaviour**

**Other information

[2020-06-22 23:53] slgobinath commented on #540
Hi,
Can you try this:

[code]

Then run `gcalendar`

[2020-06-23 02:29] Padre2 commented on #540
Hello,
Thanks for your quick response.  I had seen the `rsa` version issue in the error file, but unsure how to change it and was getting late in the day.

I ran the above code and it resolved the issue. Great to have it working again.
The result was as follows:
``zsh 921 % sudo pip3 install rsa==4.0
Collecting rsa==4.0
  Downloading rsa-4.0-py2.py3-none-any.whl (38 kB)
Requirement already satisfi

[2020-06-23 02:46] slgobinath commented on #540
I don' think so. Glad it fixed the issue. The Google Calendar API strictly needs rsa version between `rsa<4.1,>=3.1.4`. Hope you enjoy the desklet.

Please close this issue if the issue has been solved.

Thanks

[2020-06-23 03:48] Padre2 commented on #540
Hi Gobinath,
It is a very useful desklet popping up events and reminders on my desktop. Google authentication can be a pain. Thanks again for your work on it.

[2020-06-23 03:48] Padre2 commented on #540
Hi Gobinath,
It is a very useful desklet popping up events and reminders on my desktop. Google authentication can be a pain. Thanks again for your work on it.

[2020-06-23 03:48] #540 closed

[2020-06-24 12:24] slgobinath commented on #448
Could you please try the updated version using gcalendar and let me know if the problem has been resolved or not.

[2020-07-04 09:05] fabscav opened #543 "Repo: Gulp utility script no longer available"
The `readme.md` describes the possibility of "auto-reloading desklets" using a gulp utility script, yet it seems this script has been deleted from the repository a while ago (aa133a2e148cf473f26e06bcbf4fb3c1da6a92b6).

Was it not meant to be deleted or is the `readme.md` outdated?

[2020-07-06 11:10] schinfo opened #544 "[system-monitor-graph@rcassani] Text-Size for nvme-drives"
![Bildschirmfoto vom 2020-07-06 12-59-07](https://user-images.githubusercontent.com/26834276/86586980-1d3a3480-bf89-11ea-884f-96c7f7bcd7a3.png)

[code]

[2020-07-11 10:21] Padre2 opened #545 "googleCalendar@javahelps.com Failed to connect Google Calendar"
[code]
`Unknown Error`
`[boxed instance proxy GIName:GLib.Error jsob@0x7f4f201da580 native@0x55869f1994a0]`

**Notify author of desklet**
@javahelps.com

**Issue**
After changing calendars and after resetting the applet and running `gcalendar` in terminal ->
`Failed to connect Google Calendar`

**Steps to reproduce**
Run `gcalendar` in the terminal

**Expected behaviour**
Running `gcalendar` conne

[2020-07-12 11:09] slgobinath commented on #545
Looks like something similar to this issue: https://github.com/slgobinath/gcalendar/issues/2
@Padre2 please check if this the same problem. If so, please share your terminal output after running `gcalendar` in https://github.com/slgobinath/gcalendar/issues/2

[2020-07-12 11:34] Padre2 commented on #545
@slgobinath
zsh 1002 % gcalendar
Failed to connect Google Calendar

[2020-07-12 12:15] slgobinath commented on #545
I have made some changes to `gcalcli` to debug this issue. Would you mind running these commands to get the debug error message and share with me:

[code]

[2020-07-12 12:33] Padre2 commented on #545
@slgobinath
[code]

[2020-07-12 12:42] Padre2 commented on #545
@slgobinath
Namaste,  It seems like there is an issue with the F1 Calendar date/time which is set at  GMT+00:00. My local time is GMT+7.00.  This is not a problem with the desktop. or Android mobile , which are set to my local time.

[2020-07-12 12:48] slgobinath commented on #545
Thanks. Looks like the returned time does not align with the expected format. Could you please modify the `gcalendar.py` as shown below and share the printed date time values to check the format.

Add `print(event["end"]["dateTime"])` just after line number 111. After the change the code should look like this:

[code]

[2020-07-12 15:46] Padre2 commented on #545
I added the line above and ran gcalendar. The output is as before; Failed to connect Google Calendar.
Did I misunderstand?

[2020-07-12 19:46] slgobinath commented on #545
It will still fail but it should print the event time before the error message. Knowing the time format, I can fix the code.

[2020-07-13 12:51] Padre2 commented on #545
If running `gcalendar`, with the line to print added, does not produce any `dateTime` output, then what should be done?

The calendar I am using is from: https://formulaonecalendar.com/

I have reinstalled the URL for the  F1 calendar from the above website and have noticed some behaviour of the applet that may give you some clues as to what is happening:

If the F1 Calendar is not checked in the

[2020-07-13 13:15] Padre2 commented on #545
I moved the print line to below line 119
 with the following output:
[code]

[2020-07-13 13:28] slgobinath commented on #545
I am able to reproduce the problem. I will fix this soon and let you know here.
Thank you for your support to find the problem.

[2020-07-14 00:08] slgobinath commented on #545
@Padre2 I have fixed the issue in GitHub. Could you please test it by executing the following command and let me know if it works?

Please clone a new copy (you can delete the old gcalendar folder)
[code]

If `python3 -m gcalendar` prints your events from all your calendars (including the F1 calendar), I will release a new version including the fix.

[2020-07-14 03:40] Padre2 commented on #545
@slgobinath
Success, the command prints the calendars including the F1 Calendar, however the F1 times in the terminal are GMT/UTC. Will they be shown as local times in the desklet?

[2020-07-14 11:59] slgobinath commented on #545
I will take care of the conversion.
Will release a new version including the fix soon.

Thank you very much for your suport.

[2020-07-14 13:30] dduran1210 opened #547 "new features? would like to make/keep notes or appointments for each day. highlight days with notes or appt's."
[code]

**Notify author of desklet**
@

**Issue**

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2020-07-15 03:04] Padre2 commented on #545
@slgobinath
Have updated the desklet. Running `gcalendar` still returns  `Failed to connect Google Calendar`
If F1 not checked, the other calendars are displayed. If F1 checked, a small square is now displayed, before nothing was displayed.
Reloading the desklet produced the following in Melange:
Failed to connect Google Calendar
[code]

[2020-07-15 12:40] slgobinath commented on #545
Sorry still I haven't released the new version. Could you please test it one more time before the release.

[code]

You don't need to update the desklet. After releasing the new version of `gcalendar`, I will let you know. Once you update it the problem should be fixed.

Thanks

[2020-07-15 13:20] Padre2 commented on #545
I reinstalled the desklet because I had a notification og a new version.
zsh 910 [129] %F{magenta}(%fgit%F{magenta})%F{yellow}-%F{magenta}[%F{green}master%F{magenta}]%f % python3 -m gcalendar

2020-07-15:00:00 - 2020-07-16:00:00	Sunrise: 06:06, Sunset: 17:53
2020-07-16:00:00 - 2020-07-17:00:00	Sunrise: 06:06, Sunset: 17:53
2020-07-17:00:00 - 2020-07-18:00:00	Sunrise: 06:06, Sunset: 17:53
2020-07-1

[2020-07-15 14:04] slgobinath commented on #545
So the gcalendar is working fine right?

[2020-07-15 14:09] Padre2 commented on #545
Yes, as above from the cloned copy.

[2020-07-15 14:26] Padre2 commented on #545
I presume you will now update gcalendar in the repository.

[2020-07-15 14:48] slgobinath commented on #545
Yup. Not right now. Within 8 - 10 hours :-)

[2020-07-15 14:54] Padre2 commented on #545
No rush. :-)

[2020-07-15 15:14] Padre2 commented on #545
No rush. For interst i copied the cloned gcalendar directort to the site packages directory and every is working fine. :-) :+1:

[2020-07-16 01:14] Inexorabilis opened #549 "hostcheck@schorschii Pings only show WARN regardless of the real state of the addresses"
[code]
[code]

**Notify author of desklet**
@schorschii

**Issue**

The desklet is checking for the correct IP addresses, but when faced with the result always Return WARN instead of CRIT or OK
You can even choos invalid IP Addresses and it will still return just WARN
[code]
HTTP is not affected and displays the correct result.

**Steps to reproduce**

Create Desklet, choose Ping, type in any Addr

[2020-07-16 11:38] slgobinath commented on #545
@Padre2 I have released the new version `0.3` yesterday (Not released for Arch yet). Please close this issue if it has been fixed.

Once again thank you for your help in finding the issue.

[2020-07-16 12:05] Padre2 commented on #545
You are welcome. I admire your work with Python and it’s been a privilege to contribute to solving the issues.
I was inspired and yesterday installed IDLE, so that I can start learning more Python. :-)

[2020-07-16 12:05] #545 closed

[2020-07-16 12:09] slgobinath commented on #545
Great it's good to hear that
All the best for your programming endeavour!!

[2020-07-16 17:24] schorschii commented on #549
I can reproduce this issue. In Mint 20, ping output is localized. In Mint 19 ping output was always English.
I'm working on a fix.

[2020-07-20 06:54] #549 closed

[2020-07-20 21:00] solorvox opened #553 "[diskspace@schorschii] Applet sometimes receive erroneous clicks and get stuck in move mode"
Cinnamon: 4.6.6
Mint 20
Nvidia RTX2070 / 440.100

**Notify author of desklet**
@schorschii
Sometimes the desklet receives an erroneous click notification and gets stuck in move mode.  When this happens, they appear to be selected (filled with selection colour) and follow mouse around.  This makes it hard to fix since releasing the button doesn't seem to work.

A solution might be you added a toggl

[2020-07-21 13:40] schorschii commented on #553
I'm also experiencing this issue from time to time, but not only with my disk space desklet. It seems to be a general Cinnamon issue.

[2020-08-04 14:57] Mr-Jiggs opened #558 "googleCalendar@javahelps.com: Unknown Error: [boxed instance proxy GIName: GLib.Error…"
Updated on 2020-07-28 11:02:57
Cinnamon 4.6.6
Mint 20
ATI FirePro W2100 / Oland GL
No 'glass.log'
~/.xsession-errors:
Cinnamon warning: Log level 128: posix_spawn avoided (fd close requested)
Cjs-Message: 10:48:12.329: JS LOG: [LookingGlass/info] Installing settings for googleCalendar@javahelps.com
Cjs-Message: 10:48:12.329: JS LOG: [LookingGlass/info] Settings successfully installed for googleCal

[2020-08-07 18:23] ipimpat commented on #553
It happens with the CPU load desklet too, which I'm author of.

I also think that this is a bug in Cinnnamon.

I use the Clock desklet and CPU load desklet, and have also experienced with both.

I'm btw author of the CPU load desklet.

[2020-08-10 06:16] breditter commented on #484
Hey!

I'm a fledgling in the open source world, however I'd love to take on this task if help is still needed. Any feedback / advice along the way would also be greatly appreciated. Thank you!

[2020-08-15 14:04] rcassani commented on #544
The feature to change the text to display for variable and the size of its text will be added in a future version

[2020-08-24 22:55] baeverjo opened #562 "diskspace@schorschii not loading in Linux Mint 20 after last update"
[code]

**Notify author of desklet**
@

**Issue**
Stop loading

**Steps to reproduce**
After last spices update

**Expected behaviour**
To load to desktop

**Other information**

[2020-09-02 04:41] lezandto commented on #501
cinnamon 4.4.8?

[2020-09-02 04:44] lezandto commented on #432
try to increase the size of Desklet!

[2020-09-02 08:55] chromer030 commented on #501
even on latest version it's mpt working.

[2020-09-07 13:04] DutchessNicole commented on #558
I'm seeing the same issue today:
`Cinnamon warning: Log level 128: posix_spawn avoided (automatic reaping requested) (workdir specified) (fd close requested)
Cinnamon warning: Log level 128: posix_spawn avoided (automatic reaping requested) (workdir specified) (fd close requested)`
One line appears each time I attempt to refresh the desklet.

Running `gcalendar --list-calendars` does give the corr

[2020-09-08 09:36] DaniKoza commented on #558
I am having the same problem.
I removed the desklet and installed again, it worked fine for a couple of minutes and then same error...

[2020-09-25 10:08] JagArt commented on #558
Такая же проблема

[2020-09-25 10:09] JagArt commented on #558
uname -a
Linux aloteq-aloteq001 5.0.0-32-generic #34~18.04.2-Ubuntu SMP Thu Oct 10 10:36:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2020-10-01 09:35] Padre2 commented on #558
@javahelps.com  Desklet stopped working today - no display, probably after some python package updates.
removed (-) the desklet and added (+) again, showed yellow triangle (!). Unable to configure.
In terminal tried to run `gcalendar`, but would not run.  Reinstalled `gcalendar` from AUR.
Ran `gcalendar` again and ended with notice of missing `aiohttp` package.
Found `python-aiohttpp` package and

[2020-10-17 01:34] milprod opened #574 "[analog-clock@cobinja.de] Python issue in Linux Mint 20"
[code]

**Notify author of desklet**
analog-clock@cobinja.de

Clock settings seem to need "python", but latest Mint Cinnamon only has python1, python2, python3, etc..
Trying to adjust clock settings gives error "python not found"

[2020-10-19 15:13] rcassani commented on #544
@schinfo, The issue with the label positioning has been fixed in #575.
The Desklet also allows the use of custom labels for HDD.

[2020-10-22 13:56] sdre-tech opened #576 "git remote -v > origin git@github.com:USERNAME/REPOSITORY.git (fetch) > origin git@github.com:USERNAME/REPOSITORY.git (push"
[code]

**Notify author of desklet**
@

**Issue**

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2020-10-22 17:12] #576 closed

[2020-11-02 15:29] rcassani commented on #544
@schinfo, can we close this issue?

[2020-11-06 17:21] NikoKrause commented on #504
Hey, where do I find this link on the website?

[2020-11-06 17:23] NikoKrause commented on #484
Which desklet?

[2020-11-06 17:23] #484 closed

[2020-11-11 20:23] remixedcat opened #579 "custom fonts?"
I have trouble reading the info in this desklet the text is too light and narrow and very hard to read on my high dpi laptop display... I'd also like to change the font face to match the rest of my custom font face... Any way to change it...?

I looked in all the .json files and such and I only found one area in the code that allows me to change it and it had no effect...

It would be nice to have

[2020-11-11 20:32] brownsr commented on #579
I see nothing here to say which desklet you are raising this against.

Regards

Simon

[2020-11-11 20:46] remixedcat commented on #579
cpuload... thought it was filled in...

[2020-11-12 14:41] OndrejMalek commented on #504
Not 100% sure now, but probably 'Development' in the footer
![image](https://user-images.githubusercontent.com/6736907/98952944-57e64780-24fc-11eb-89d2-39e3ed717733.png)

Now it seems to work properly. It  took me to some page out of domain asking me to pay for library subscription. It looked like fraud to me.

[2020-11-12 18:51] #504 closed

[2020-11-12 20:18] BrunoGomesCoelho commented on #558
I seem to get this problem about once every few days, I uninstall the desklet, re-start Cinnamon (Alt+F2 then r and enter) and re-install and it goes back to working.

[2020-11-21 22:11] Oldbwl opened #580 "soundBox@scollins: PC's CPU RATE AND TEMPERATURE AFFECTED ADVERSLEY BY THIS DESKLET"
[code]

**Notify author of desklet**
@SCOLLINS

**Issue**
CPU runs at 10% extra and heat at 10deg C more when the Desklet it installed, even if no music player is running.
At Idle, my PC shows 1  - 3% CPU activity and a Temp of 40°C +/- 2 degrees. When the desklet is loaded, the idle rate jumps to a steady 13% and the temp to 50°C

**Steps to reproduce**
Record CPU temp and Average Load.  Load des

[2020-11-27 20:22] theesp commented on #574
Same problem here, also on Linux Mint 20.0 'Ulyana'

[2020-11-29 15:29] ChooChooAl opened #581 "Repeated Xsession errors diskspace@schorschii"
`
Version 1.12 (2020-10-28 14:40:00)
Cinnamon 4.6.7
Mint 20 Cinnamon 64 bit.
Graphics:  Device-1: Intel UHD Graphics 620 driver: i915 v: kernel
           Display: x11 server: X.Org 1.20.8 driver: modesetting unloaded: fbdev,vesa
           resolution: 1920x1080~60Hz
           OpenGL: renderer: Mesa Intel UHD Graphics 620 (KBL GT2) v: 4.6 Mesa 20.0.8

 * Snippet or attachment of ~/.cinnamon/glass

[2020-11-30 08:58] xbow007 opened #582 "[notes@schorschii] Wrong tooltip for the font size spinbutton"
Wrong tooltip "Increase or decrease the size of this desklet using this scale factor." is assigned to the size font spinbutton.
Logically it should be "Increase or decrease the size of the font of this desklet..." or something so.

[code]

[2020-11-30 09:04] xbow007 opened #583 "[notes@schorschii] russian translation .mo & .po"
Hi, i made a translation of this desklet .po into russian. Both ru.po and ru.mo in the attached zip archive.

 * Desklet version: 2.2
[notes@schorschii.zip](https://github.com/linuxmint/cinnamon-spices-desklets/files/5614848/notes%40schorschii.zip)

[2020-12-01 02:48] ChooChooAl commented on #562
I'm on version 1.12 on Mint Cinnamon 20 and it works.  I noticed you're on 1.10

[2020-12-06 15:20] siggi747 commented on #558
I have the same problem and I found out that it appears every time I have a date for a certain time (hour:minute). As long as the relevant dates are "allday" only everything works fine. Maybe this finding helps to solve the issue

[2020-12-07 05:32] LunaManar commented on #558
I have the same experience as @BrunoGomesCoelho. Alt+F2 and r, Enter will successfully refresh my desklet. Seems to be some conflict between the desklet, version of Cinnamon/Mint (Mint 20 users seem less affected from the forum posts I've seen?) and python, but I'm not knowledgeable enough to say exactly where it's breaking other than it seems to happen almost instantly if I try to update any of t

[2020-12-09 15:23] ChooChooAl commented on #581
This isssue has, for a better term, healed itself.  It's gone now and I can't reproduce it.  I did remove your desklet to reduce errors and then put it back a few days ago.   Now it seems to be running fine.  I'm closing it.

[2020-12-09 15:23] #581 closed

[2020-12-09 15:40] ChooChooAl opened #585 "diskspace@schorschii: Request for total disk space be displayed above the total used"
[code]
**Notify author of desklet**
@schorschii

**Issue**
Suggest that the total disk space be displayed above the total used rather than visa versa.
The center of the circle is larger and it seems more reasonable to put the larger value in the middle between the %used and amount used like:
10%
180.3 G
18.2 G
This might allow for a slightly larger font in the bottom 2 numbers.

[2020-12-10 09:25] emmanoe commented on #558
Same problem today with Mint 19

[2021-01-31 05:46] Padre2 opened #601 "googleCalendar@javahelps.com: ByteArray.toString(array) warning"
* Desklet version/Build date:  Updated on 2020-12-13 21:01:09
 * Cinnamon version:  4.8.5
 * Distribution:  Arch linux-gnu/5.10.11

 * Graphics hardware: Radeon

 * Snippet or attachment of ~/.xsession-errors

[code]

**Notify author of desklet**
@javahelps.com

**Issue**
 Are the above .xsession-errors messages all related to this desklet?

**Steps to reproduce**

**Expected behaviour**

**Other

[2021-02-06 17:55] zappee opened #603 "system-monitor-graph@rcassani: The latest update does not work with Linux Mint 20.1 Cinnamon"
The latest update does not work with Linux Mint 20.1 Cinnamon. I just updated my Mint Linux, then updated this desklet, and it disappeared. Mint says that "This desklet contains function calls that could potentially cause Cinamon to crash or freeze. If you are expecting crashes or freezing, please try to remove it."

Could you please fix this? This is my favorite desklet and I would like to use it

[2021-02-07 18:48] NikoKrause commented on #603
Hey, there are 45 desklets in this repo.
Which desklet are you talking about?

[2021-02-08 09:28] zappee commented on #603
It is called "System monitor graph".

[2021-02-10 16:54] prescott66 opened #614 "cpuload@kimse - Translatable labels"
It would be nice to have ability to translate labels visible in desklet: "CPU usage" and "Core no."
Actually are these strings not available in POT template.

[2021-02-19 22:05] NikoKrause opened #618 "Translation Status Tables"
The Cinnamon Spices receive a lot of translation support. Since the spices are not frozen, but receive updates, which sometimes include new strings to translate, it gets hard to keep track of those changes for the translators.

To help translators keeping an overview I created some translation status tables.

* [Translation Status Tables for Desklets](https://github.com/linuxmint/cinnamon-spices-d

[2021-02-19 22:14] #618 closed

[2021-02-20 14:13] nilton-medeiros opened #619 "No values are being loaded"
[code]

**Notify author of desklet**
@

**Issue**
No values are being loaded, all fields are reset to zero, except for TASKS Total

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2021-02-24 10:28] #501 closed

[2021-03-06 16:06] ChooChooAl opened #625 "diskspace@schorschii does not calculate percentage properly"
Disk Space (diskspace@schorschii)
[code]
@schorschii

**Issue**
Disk space percentage calculation seems to be off.

See screen shot.   Calculator computes it as 25.07 %  and display is 26%.   That's a pretty heavy round up.

![Disk-Space](https://user-images.githubusercontent.com/26556059/110212963-dd0ab900-7e6b-11eb-8254-55a87e287706.png)

[2021-03-14 10:38] #267 closed

[2021-03-14 10:42] #249 closed

[2021-03-14 10:44] #269 closed

[2021-03-14 10:47] NikoKrause commented on #322
@ipimpat Can this be closed?

[2021-03-14 10:50] #332 closed

[2021-03-14 10:52] #392 closed

[2021-03-14 10:54] #406 closed

[2021-03-14 10:55] #358 closed

[2021-03-14 10:56] #398 closed

[2021-03-14 10:57] #405 closed

[2021-03-14 11:02] NikoKrause commented on #414
Mint 18.3 is end of life next month.
The desklet loads on Mint 20.1 here.
Does this issue still happen for you?

[2021-03-14 11:02] #414 closed

[2021-03-14 11:05] NikoKrause commented on #422
ping author @slgobinath

@kuehhe1 is this issue still valid?

[2021-03-14 11:07] NikoKrause commented on #424
Codacy seems to be removed from this repo

[2021-03-14 11:07] #424 closed

[2021-03-14 11:08] NikoKrause commented on #426
ping author @slgobinath

[2021-03-14 11:10] NikoKrause commented on #428
ping author @schorschii

[2021-03-14 11:10] #428 closed

[2021-03-14 11:12] NikoKrause commented on #430
ping author @slgobinath

Since there's no answer from @FMaside to @claudiux answer, I'm gonna close this issue.

[2021-03-14 11:12] #430 closed

[2021-03-14 11:13] NikoKrause commented on #432
ping author @pdcurtis

@alpha0mega96 Is this issue still valid?

[2021-03-14 11:15] NikoKrause commented on #433
ping maintainer @pdcurtis

[2021-03-14 11:18] NikoKrause commented on #447
ping author @tipichris

[2021-03-14 11:19] #448 closed

[2021-03-14 11:22] NikoKrause commented on #464
ping author @pbojan

[2021-03-14 11:25] #495 closed

[2021-03-14 11:26] NikoKrause commented on #497
Which desklet is this issue about?

[2021-03-14 11:26] #497 closed

[2021-03-14 11:48] NikoKrause commented on #541
ping author @schorschii

[2021-03-14 11:53] NikoKrause commented on #543
The README.md was outdated. I've removed that reference in the README.md: https://github.com/linuxmint/cinnamon-spices-desklets/pull/622/files

[2021-03-14 11:53] #543 closed

[2021-03-14 11:54] #544 closed

[2021-03-14 11:55] NikoKrause commented on #547
Which desklet is this issue about?

[2021-03-14 11:55] #547 closed

[2021-03-14 12:00] NikoKrause commented on #553
This seems to be a desklet issue per se https://github.com/linuxmint/cinnamon/issues/9622

[2021-03-14 12:00] #553 closed

[2021-03-14 12:07] NikoKrause commented on #558
ping author @slgobinath

[2021-03-14 12:08] #562 closed

[2021-03-14 12:09] NikoKrause commented on #574
Fixed by https://github.com/linuxmint/cinnamon-spices-desklets/pull/584/files

[2021-03-14 12:10] #574 closed

[2021-03-14 12:10] NikoKrause commented on #579
ping author @ipimpat

[2021-03-14 12:12] NikoKrause commented on #580
ping author @collinss

[2021-03-14 12:13] NikoKrause commented on #582
ping author @schorschii

[2021-03-14 12:15] NikoKrause commented on #614
ping author @ipimpat

[2021-03-14 12:16] NikoKrause commented on #585
ping author @schorschii

[2021-03-14 12:20] NikoKrause commented on #601
ping author @slgobinath

[2021-03-14 12:24] NikoKrause commented on #603
ping author @rcassani

[2021-03-14 12:26] NikoKrause commented on #619
ping author @ryannerd

[2021-03-14 13:42] #583 closed

[2021-03-14 13:43] NikoKrause commented on #583
Thanks for the translation, I've uploaded your `ru.po` file.
If you update the desklet, the desklet should be translated now.

[2021-03-14 15:12] ipimpat commented on #322
@NikoKrause I think it's a major issue that the desklet doesn't render correctly on HiDPI displays.

But I do not own a monitor supporting HiDPI, so I can't really work on the issue.

I would appreciate if anyone can help me solve the issue, feel free to contact me or submit a PR.

[2021-03-14 15:15] ipimpat commented on #579
I will look into it

[2021-03-14 15:15] ipimpat commented on #614
I will look into it

[2021-03-14 15:50] NikoKrause commented on #322
I don't have a HiDPI screen either, sorry.

[2021-03-14 19:21] kuehhe1 commented on #422
Hello,
Yes the problem is solved with the current version

Best Regards kuehhe1

[2021-03-14 19:21] #422 closed

[2021-03-14 20:06] collinss commented on #580
The most likely reason is a bug that was causing it to constantly write to the logs, but I fixed that bug a month or so ago, so I'm going to go ahead and close this. Feel free to reopen this if you still experience the issue after updating to the latest version.

[2021-03-14 20:06] #580 closed

[2021-03-14 21:30] rcassani commented on #603
@zappee, even with that warning* you should be able to use the Desklet.
Tested on Linux Mint 20.1 Cinnamon,
Desklet version: 1.2 (2021-02-06 16:15:34)

*The warning has its origin in some readings and subprocesses that are executed synchronously. In the following weeks I'll update the calls to be asynchronous.

[2021-03-14 22:20] zappee commented on #603
Thanx. I will try it.

On Sun, Mar 14, 2021 at 9:30 PM Raymundo Cassani ***@***.***>
wrote:

[2021-03-14 23:37] #603 closed

[2021-03-15 03:05] icarter09 opened #629 "lemondenewspaper@fthuin: Desklet does not work"
lemondenewspaper@fthuin

 * Most recent build date: 2021-02-06 11:15:34
 * Cinnamon version 4.8.6
 * Mint 20.1 64bit

`(cinnamon:2291): Cjs-CRITICAL **: 23:05:14.131: JS ERROR: TypeError: message.response_body.data is null
_onMessageResponse@/home/turing/.local/share/cinnamon/desklets/lemondenewspaper@fthuin/desklet.js:173:24`

**Notify author of desklet**
@fthuin

**Issue**
Desklet no longer work

[2021-03-15 10:20] schorschii commented on #541
Hi @dave841
What exactly is the problem? Does it show "CRIT" but your website is available? Please ensure curl is installed as mentioned in the readme: https://cinnamon-spices.linuxmint.com/desklets/view/49

[2021-03-15 11:18] pdcurtis commented on #432
@alpha0mega96 This is a very simple desklet which merely displays the output of vnstat and vnstati which is an image fixed in size and does not currently scale for HiDPI.

[2021-03-15 16:48] #614 closed

[2021-03-16 18:37] #541 closed

[2021-03-24 06:31] pawanneupane opened #635 "nepalipatro@deeppradhan: Shows wrong date"
nepalipatro@deeppradhan

[code]
@kanchudeep

The Nepali Patro desklet shows the previous day's date instead of the current date.

[2021-03-24 08:28] pzxyk8 opened #636 "Weather Desklet (bbcwx@oak-wood.co.uk) - Error 202"
[code]

**Notify author of desklet**
@tipichris

**Issue**
Error 202 is displayed. No icons and no forecasts are available.

**Steps to reproduce**

**Expected behaviour**

**Other information**
"BBC" data service, 3172394 location code

[2021-03-24 08:51] tipichris commented on #636
That code just reflects what the provider is returning. It's not at issue with the desklet.
And in the couple of minutes since I started looking at this https://weather-broker-cdn.api.bbci.co.uk/en/forecast/rss/3day/3172394 has started returning the expected RSS. So it's working now :)
![image](https://user-images.githubusercontent.com/89666/112281551-1326a600-8c7e-11eb-97b8-4d93ba7cb060.png)

[2021-03-24 09:44] #636 closed

[2021-03-25 08:37] Nokia808 opened #637 "[analog-clock@cobinja.de] CobiAnalogClock desklet started to crash my Cinnamon DE !"
[code]

**Notify author of desklet**
@Cobinja

**Issue**
Hi. Just today - after about 4 years of usage without any problem - this nice desklet started to crash my Cinnamon ! I removed it ........  Waiting for your fix ........

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2021-03-27 21:24] pbojan commented on #464
This should be fixed with v1.5 (https://github.com/linuxmint/cinnamon-spices-desklets/pull/638). As I don't really have a proper HiDPI monitor would be nice if @Redsandro can verify this after the version is live?

[2021-03-28 17:18] #464 closed

[2021-04-03 17:35] tokaiyaki opened #639 "Change Width and Height"
Your desklet is quality!
Can I change the width and height of the notes so that the triple dots don't appear? (I want to make it loong)
Or do you have any suggestions for commands or whatever is possible?

[2021-04-03 19:22] NikoKrause commented on #639
Which desklet are you talking about?

[2021-04-03 19:23] NikoKrause commented on #629
Since there's no response from the author, we probably should remove the desklet.

[2021-04-04 05:24] #629 closed

[2021-04-05 14:32] ipimpat commented on #579
Due to the lack of a font picker field in the settings API for xlets, I do not think it is possible to implement it in a user-friendly way.

@NikoKrause Ideally I'm looking for a "font picker" field, like in the one in system font preferences, do you know if something like that could be added to the settings API ?

[2021-04-05 17:53] NikoKrause commented on #579
@collinss is our Cinnamon API expert

[2021-04-05 23:13] Redsandro commented on #464
Works fine now. Screenshot added next to panel for measure.

![image](https://user-images.githubusercontent.com/1702193/113637471-f4101700-9674-11eb-8a92-f50832d51e05.png)

[2021-04-06 04:46] collinss commented on #579
There is already a font chooser settings widget. The settings type you want is `fontchooser`. Note that it doesn't have a lot of configuration, and it stores the font as a pango font description string rather than a css compatible string. I was actually working on adding some functionality to improve it a few weeks ago, but my computer died and until I get my new one up and running, I won't be abl

[2021-04-06 06:07] NikoKrause commented on #579
@ipimpat btw there's an built-in applet in Cinnamon you might be interested in. It's called Settings API Demo. There you can try how the fontchooser and other settings options look like and which options they have.

[2021-04-12 12:53] Padre2 opened #643 "googleCalendar@javahelps.com: No display"
[code]

**Notify author of desklet**
@javahelps.com

**Issue**
Did not display after updating with last version yesterday and again today.

I noted that the metadata.son file only lists up to Cinnamon 4.6 and I updated to include 4.8.  However this should not be the problem because I have Cinnamon 4.8.6, see following and note that this issue was posted previously, but not answered:
`ByteArray.toS

[2021-04-25 18:58] schorschii commented on #585
@ChooChooAl The used space does not always have less characters than the total size and in my point of view it is more convenient to show the total size below the used size. But I added two new options for you so you can choose to display the total size in the middle of the desklet if you want.

[2021-04-25 19:21] #585 closed

[2021-04-28 12:57] schorschii commented on #625
Unfortunately, its not that easy. The desklet displays the percentage output from `df` directly on the screen. The "used" and "available" space values are also obtained from `df` but of course have to be rounded, because nobody wants to see the size in bytes. So the inaccurate value is not the percentage, but the free/total size, which causes the divergence.

Your `df` output in the moment of the

[2021-04-28 13:06] ChooChooAl commented on #625
/dev/nvme0n1p6 104254288  24874772  74040588  26% /

I'm currently using 25.5 (not the 25.4) but even still that calculates to 0.251727542 and rounding down to 25 %    So yes, it is df that's creating the issue.

I would consider this closed.  It's not worth trying to get that exact.  I can 25.5 gig and then 26.5 gig and realize I've picked up a gig of something.   Percentage is less important.
Th

[2021-04-28 13:06] #625 closed

[2021-05-19 05:09] Padre2 commented on #643
Finally resloved by deleting all files and reinstalling. Now displays as before.

[2021-05-19 05:09] #643 closed

[2021-06-02 23:27] nilton-medeiros opened #646 "googleCalendar@javahelps.com"
[code]

**Notify author of desklet**
@

**Issue**
Dear Dev's, in the Google Calendar Desklet, there is a problem in the display of the titles of the fields, specifically in the accentuation characters in Brazilian Portuguese, I believe it is a configuration problem in the code editor from ANSI to UTF8.

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2021-06-03 11:49] slgobinath commented on #558
This problem happens due to the `GLib.spawn_async_with_pipes` call to launch gcalendar. I tried to replace by `GLib.spawn_sync` but I am getting several other issues with synchronized execution. I am working on this issue. I will update here once I find some solution.

@NikoKrause looks like my call to `GLib.spawn_async_with_pipes` does close some resources internally. Can you point me to some sam

[2021-06-21 13:50] SteveM2020 opened #650 "How do you start it?"
[code]

**Notify author of desklet**
@

**Issue**
No information on how to start it. How am I supposed to use it?

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2021-06-21 19:52] brownsr commented on #650
Sorry, can't do anything with this little information.  Which desklet ?  Or are you asking for help in installing any desklet ? In which case try the forums as issues are to report faults. Closing, so please raise a new issue with at least basic information.

Regards

Simon

[2021-06-21 19:52] #650 closed

[2021-06-23 20:56] #558 closed

[2021-06-23 20:56] #601 closed

[2021-06-28 13:09] shres58tha commented on #635
this will fix it
but not sure why?
https://github.com/linuxmint/cinnamon-spices-desklets/pull/651

[2021-07-05 19:44] vidfamn opened #653 "commandResult@ZimiZones empty lines before cmd results"
[code]

**Notify author of desklet**
@ZimiZones

**Issue**
I get 2 empty lines with `-` from cmd output. The output running the same cmd in terminal does not have these empty lines so I don't know where they are coming from.

![Screenshot from 2021-07-05 21-37-02](https://user-images.githubusercontent.com/7483242/124512705-4fb78100-ddd9-11eb-9bfa-26bed061de2c.png)

**Steps to reproduce**
command:

[2021-07-12 16:37] TripleMCoder opened #655 "simple-system-monitor@ariel: Temperature doesn't update"
[code]

**Notify author of desklet**
@arielandrade

**Issue**
Temperature doesn't update and it's fixed on 25°C
![image](https://user-images.githubusercontent.com/49918899/125324227-036fc200-e340-11eb-83db-c04959cd91e4.png)
I thought that the issue with my laptop but when I installed an applet that shows the temperature it works fine
And also when I add the desklet it gives me this warning
![image

[2021-07-18 04:00] pawanneupane commented on #635
Thank you. It's fixed now.

[2021-07-18 04:00] #635 closed

[2021-07-21 01:50] RyanNerd commented on #619
This is odd. Can you right click on the Desklet and change enable Custom top command? The current command that is run is: `top -n 1 -b` Which is output in "batch mode" `-b` and only 1 iteration `-n 1`. Try replacing the command with this: `top -n 1 -b -u <your_user_id>`  This will display only processes owned by your user id. If this works try changing it back to `top -n 1 -b`. Please let me know

[2021-07-25 00:44] Pbtren opened #657 "[calendar@deeppradhan]calendar will not advance to next day"
[code]

**Notify author of desklet** yes
calendar@deeppradhan

**Issue** Calendar desklet will not automatically advance to next day at midnight - it remains on previous day. If I restart cinnamon it will advance. I can also click on the next day to set the correct date.

**Steps to reproduce** Desklet display will remain on same day indefinitely if nothing is done to set the correct date.

**Expe

[2021-07-25 23:12] randolindso0 opened #658 "Weather Desklet {bbcwx@oak-wood.co.uk} won't load info for 10 minutes after reboot"
bbcwx@oak-wood.co.uk

[code]

**Notify author of desklet**
@

**Issue**
At reboot Weather Desklet loads with no locale, weather info, etc.  Ten minutes later it loads the required info.

**Steps to reproduce**  Reboot with Desklet running on desktop.

**Expected behaviour**  For it to load locale, weather info in a timely fashion.

**Other information**  I'm pretty much a "newb'" so please pardon

[2021-07-25 23:20] randolindso0 commented on #658
I have tried to upload the Looking Glass and xsesstion error logs, but see no indication they actually did so:

     Looking Glass Log...
info t=2021-07-25T17:51:52Z Cinnamon.AppSystem.get_default() started in 214 ms
info t=2021-07-25T17:51:52Z loading user theme: /usr/share/themes/Mint-Y-Dark-Blue/cinnamon/cinnamon.css
info t=2021-07-25T17:51:52Z added icon directory: /usr/share/themes/Mint-Y-Dar

[2021-07-25 23:20] #658 closed

[2021-07-25 23:35] randolindso0 opened #659 "Weather Desklet {bbcwx@oak-wood.co.uk} starts but won't load weather info for 10 minutes after reboot."
bbcwx@oak-wood.co.uk

[code]

**Notify author of desklet**
@

**Issue**
At reboot Weather Desklet loads with no locale, weather info, etc.   Almost precisely ten minutes later it loads the required info.

**Steps to reproduce**
Reboot with Weather Desklet running on desktop.

**Expected behaviour**
For it to load locale, weather info in a timely fashion.

**Other information**

[2021-07-26 04:56] randolindso0 commented on #659
From my "newb" point of view, it seems like maybe the desklet loads (and calls for the required weather info) before my internet connection is enabled.  Hence, 10 minutes later (update frequency set by me) it updates the weather info.  Any way to introduce an initial delay in loading the desklet?

[2021-08-26 12:29] KulagaIvan opened #662 "googleCalendar@javahelps.com"
[code]

**Notify author of desklet**
@
googleCalendar@javahelps.com
**Issue**
Failed to connect Google Calendar

**Steps to reproduce**
gcalendar --debug

Failed to connect Google Calendar
Traceback (most recent call last):
  File "/usr/bin/gcalendar", line 11, in <module>
    load_entry_point('gcalendar==0.4', 'console_scripts', 'gcalendar')()
  File "/usr/lib/python3/dist-packages/gcalendar/__ma

[2021-08-26 12:58] #662 closed, assigned to nobody

[2021-09-15 10:21] ErwinBaeyens opened #664 "Google Calendar (googleCalendar@javahelps.com) Configuration window too heigh for 1920x1080 screen"
* Desklet version/Build date 2021-06-03 14:15:14
 * Cinnamon version Cinnamon 5.0.5
 * Distribution - Fedora 34
 * Graphics hardware *and* driver used
   * Intel Corporation 4th Gen Core Processor Integrated Graphics Controller
   * Advanced Micro Devices, Inc. [AMD/ATI] Venus XT [Radeon HD 8870M / R9 M270X/M370X] (prog-if 00 [VGA controller])
[code]

[2021-10-09 06:56] EvilSupahFly opened #698 "Unable To Resize Weather Desklet {bbcwx@oak-wood.co.uk}"
[code]

**Notify author of desklet**
@tipichris

**Issue**
When changing forecast to 7 days, only the first 5 actually show, and I'm unable to manually resize the window to compensate (screenshot attached), however, the window DOES resize when moving to less than 5 days, shrinking appropriately.

**Steps to reproduce**

Change forecast to 7 days

**Expected behaviour**

All 7 days of the forecast

[2021-10-09 16:44] EvilSupahFly commented on #698
OK... I fixed the issue. It seems when I choose "Open Weather Map (free)" I only get 5 days, but when I choose "Open Weather Map" I get the full 7 days.

Simple user error - I didn't realize there was a difference between the two options.

![Screenshot from 2021-10-09 12-41-08](https://user-images.githubusercontent.com/3280846/136667045-9edad6f7-97f7-439d-ab21-d9e6a6dd69db.png)
![Screenshot from 2

[2021-10-11 21:33] marceloaof opened #702 "pt.po supersedes pt_BR.po in desklet title and description"
Brazilian portuguese translations were approved recently for desklets. Thank you @brownsr. I would like to ask you one question. Mint Update Manager already brought the merged translations to the computer. The language settings in this Linux Mint 20.2 are all set as Brazilian Portuguese (pt_BR). The desklets (1)open translated to pt_BR.po and (2)their descriptions and titles are also translated to

[2021-10-26 23:27] neozerosv opened #708 "clocket (clocket@tirtha): Not retrieving weather information from openweathermap"
clocket@tirtha Version 2.1 (2021-08-06 13:40:59)
Cinnamon 4.8.6
Debian Bullseye 64 btis
[AMD/ATI] Lucienne (rev c1) (prog-if 00 [VGA controller]):amdgpu

**Notify author of desklet**
@tirtha

**Issue**
Configuring the desklet with a API key it does not load the weather info.

**Steps to reproduce**
Install desklet
Create a user and API key
Configure desklet with API and latitude and longitude
Relo

[2021-11-03 03:57] Padre2 opened #709 "Google Calendar (googleCalendar@javahelps.com)"
* Desklet version/Build date:  Updated on 2021-10-18 18:49:52
 * Cinnamon version:  5.0.6
 * Distribution - Linux 5.14.15
 * Graphics hardware:  ATI Radeon
 * Snippet or attachment of ~/.cinnamon/glass.log
[code]

@javahelps.com

Calendar events did not load after update.
Ran `gcalendar` and events loaded after restart, but included events not selected.
Opened Configure and boxes for selection (Di

[2021-11-12 17:43] haggen88 opened #715 "cpuload@kimse - Spanish translation"
Hi @ipimpat  I do not know how to generate a PR so I send it this way.
[cpuload@kimse.   es.po.zip](https://github.com/linuxmint/cinnamon-spices-desklets/files/7529423/cpuload%40kimse.es.po.zip)

[2021-11-23 03:23] Padre2 commented on #709
@javahelps.com
If closed is there an update for this desklet?

[2021-11-23 08:44] #715 closed

[2021-11-23 08:45] #664 closed

[2021-11-23 08:45] #709 closed

[2021-11-27 04:10] Padre2 commented on #709
Updated on 2021-11-26 22:51:16 No change since update today
 All items still displaying.  If the one box selected than thenshows no events.

"below" still misspelled.

![Screenshot from 2021-11-27 10-48-06](https://user-images.githubusercontent.com/38849451/143667395-2cc69dc1-26b4-4fd7-9608-e8c7ad85e193.png)
.

[2021-12-01 19:07] Speed3mon521 opened #728 "Can"
[code]

**Notify author of desklet**
@

**Issue**

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2021-12-01 19:09] Speed3mon521 opened #729 "Can't Change Degree on Clocket"
[code]

**Notify author of desklet**
@

**Issue**

How can i change the degree from  Celcius to Farenheit?

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2021-12-01 22:22] Speed3mon521 commented on #729
How can i change the degree from Celcius to Farenheit?

[2021-12-02 08:11] #728 closed

[2021-12-12 03:27] Padre2 commented on #709
@javahelps.com
Updated on 2021-12-11 00:07:32
No change since update today
All items still displaying. If the one box selected than then shows no events.

"below" still misspelled.

[2021-12-14 04:36] Padre2 opened #737 "googleCalendargoogleCalendar@javahelps.com gcalendar is not authorised"
[code]

[2021-12-14 19:48] gwillgues opened #738 "bbcwx@oak-wood.co.uk TLS not used on various websites"
* Desklet version/Build date (to be found in "About.." or in "metadata.json")
 2.10
 * Cinnamon version (cinnamon --version)
 Cinnamon 5.0.6
 * Distribution - (Mint 17.2, Arch, Fedora 25, etc...)
 Debian Testing

**Issue**
The various HTTP data sources for this desklet are not utilizing HTTPS, when the backend web server supports it. For example, all queries to "api.openweathermap.org" are over pl

[2021-12-17 03:16] Padre2 commented on #737
Issue solved after reinstalling `gcalendar`

[2021-12-17 03:16] #737 closed

[2021-12-19 03:46] Padre2 opened #743 "googleCalendargoogleCalendar@javahelps.com gcalendar is not authorised"
[code]

**Notify author of desklet**
@javahelps.com

**Issue**
Display:  gcalendar is not authorised
excecute gcalendar

**Steps to reproduce**
excecute gcalendar

**Expected behaviour**
Calendar displayed

**Other information**
Yesterday, 18 december 2021, there was another update of Python packages. Prior to this the calendar was displaying normally.
An attempt to reinstall galcalendar failed, e

[2021-12-20 03:31] Padre2 commented on #743
Another Python packeage update and the calendar is displaying normally again, however with errors in the looking glass log:
`error t=2021-12-20T10:12:12Z JSON.parse: expected double-quoted property name at line 110 column 3 of the JSON data
error t=2021-12-20T10:12:12Z Failed to parse template file for googleCalendar@javahelps.com
warning t=2021-12-20T10:12:12Z upgrade failed for googleCalendar@ja

[2021-12-24 09:29] sbhhdp opened #747 "Feature Request: Need two separate columns on both sides of the desktop screen"
Hi,

Really love the effort you have put into this desklet. This should be a relatively simple feature request. I would like to display two different calendars on two different locations. This would display the information in an organized manner and decrease the clutter. Thanks.

[2021-12-24 09:36] #747 closed

[2022-01-02 02:49] Padre2 commented on #743
Applied update of 2021-12-28 06:48:21 and no more error messages in Looking Glass and calendar displays normally, thank you.

[2022-01-02 02:49] #743 closed

[2022-01-03 14:14] gwillgues commented on #738
Commit was merged which changed services to HTTPS that can be changed.

[2022-01-03 14:14] #738 closed

[2022-01-03 15:35] gwillgues commented on #659
Is it possible you have the NetworkManager-wait-online service disabled (which is known to be a service which slows down boot time) ?

[2022-01-03 16:21] gwillgues opened #752 "bbcwx@oak-wood.co.uk : Add weather.gov API as data source"
This desklet has not received any new data sources for a while. I have come across api.weather.gov which looks like a promising addition

I believe the weather.gov API would be a very useful and potentially more reliable long term (less likely to get shut down as it is a government provided service) addition to this desklet for US based users.

Currently as long as the request contains a user agen

[2022-01-25 22:22] softhints opened #756 ""bbcwx@oak-wood.co.uk" - feature request - sunrise and sunset time"
"bbcwx@oak-wood.co.uk"

[code]

@tipichris

**Feature request**

Add option for  sunrise and sunset time.

**Other information**

I've tried to create new desklet following tutorial - without success:

https://forums.linuxmint.com/viewtopic.php?f=42&t=186510&p=2129394#p2129394

using API from - https://sunrise-sunset.org/api

I wanted also to ask - what is the way to ask for new desklets - feature

[2022-02-11 19:00] Mintulix opened #758 "bbcwx@oak-wood.co.uk - feature suggestion: adding text shadow"
Hi @tipichris, I made a few changes to implement a better contrast in conjunction with 0% background opacity (see screenshots).
I hesitate to make a pull request without asking before, it also has to be reviewd. Are you interested in the code changes?

![Demo without text shadow](https://user-images.githubusercontent.com/9968138/153652964-b723e325-cd51-4050-9290-86c89e84d24b.png)
![Demo with text

[2022-02-28 15:41] gwillgues commented on #758
Go ahead and submit the Pull request, it cant hurt

[2022-03-20 10:35] teto90 opened #760 "yfquotes@thegli: Cinnamon not able to boot with extension enabled and Wi-Fi OFF"
* **Desklet version/Build date (0.8.0)**
 * **Cinnamon version (Cinnamon 5.2.7)**
 * **Distribution - (Linux mint 20.3 una)**
 * **Linuxmint 20.3 una**
 *  **DEV-1 Mesa Intel(R) HD Graphics 520 (SKL GT2)**
 *  **DEV-2: AMD Sun XT**
 *  **Display:** x11 server: X.Org 1.20.13 driver: ati,modesetting,radeon unloaded: fbdev,vesa
    resolution: 1366x768~60Hz, 1920x1080~60Hz
    OpenGL: renderer: Mesa

[2022-04-17 16:28] schorschii opened #762 "system-monitor-graph@rcassani: HiDPI display issue"
system-monitor-graph@rcassani

[code]

**Notify author of desklet**
@rcassani

**Issue**
Text is overlapping the graph on HiDPI displays (when UI scaling is set to 2x in Cinnamon settings).
[The desklet should take `global.ui_scale` into account](https://github.com/linuxmint/cinnamon-spices-desklets/issues/326).

![Bildschirmfoto vom 2022-04-17 18-07-56](https://user-images.githubusercontent.com/1

[2022-04-20 06:56] #762 closed

[2022-04-30 11:54] roberts-code opened #764 "cpuload@kimse - Crashes Cinnamon on Arch linux"
Issue:
Adding cpuload@kimse to Cinnamon running on Arch Linux crashes Cinnamon ("You are currently running in fallback mode").
After a restart (of Cinnamon) the desklet works (well, it only has 2 columns, so not everything fits on a 1440p screen, but that is a different issue).

Steps to reproduce:
Install cpuload@kimse and enable it. Disabling and re-enabling will repeat the crash.

Expected beha

[2022-05-11 04:57] NeuroTypicalCure opened #765 "Yahoo Finance Quotes: Desklet stuck to cursor (transparency error)"
* Desklet version/Build date (Version 0.8.0 (2022-02-09 20:21:53)
 * Cinnamon version (5.2.7)
 * Distribution - (Linux Mint 20.3)
 * Intel 3rd Gen Core processor Graphics vendor: Lenovo driver: i915
 * ?
 * Snippet or attachment of ~/.xsession-errors (below)

**Notify author of desklet**
@thegli

**Issue**
Sliding transparency setting all the way to the right causes desklet to get stuck to cursor

[2022-05-11 06:44] thegli commented on #765
Tried to reproduce the problem but found no problem moving the desklet around with maximum transparency set.
The logged errors suggest that the desklet couldn't find the value for the transparency, but it's unclear to me right now how that can happen.

Can you try to **restore the default settings**?
"Configure.../option menu/Reset to defaults" - you might want to save your original settings first

[2022-05-16 22:41] thegli commented on #760
@teto90 First of all, sorry for the late response, and second, thank you for the detailed documentation of the issue.

I can reproduce the behavior, and I'm about to release a fix version 0.8.1 that changes the way how the data are fetched (#766).
If all works out, the new desklet version should be available within the next few days.
Please let me know if this one solves the issue for you.

[2022-05-17 05:16] teto90 commented on #760
Thanks a lot Thomas.
It's the first time that I signal a bug on github and you are making it a great experience for me.
I definitely send you a feedback as soon as possible.
Stefano
--
Inviato da Libero Mail per Android martedì, 17 maggio 2022, 00:41AM +02:00 da Thomas Egli  ***@***.*** :

***@***.*** First of all, sorry for the late response, and second, thank you for the detailed documentation o

[2022-05-17 15:46] NeuroTypicalCure commented on #765
Sorry for the late response, I can no longer reproduce the problem either, so I guess this means it solved itself.

[2022-05-17 15:48] #765 closed

[2022-05-20 15:54] deanajb opened #769 "Desktop Calculator (calculator@scollins): division not working in RPN mode"
[code]

**Notify author of desklet**
@collinss

**Issue**
When in RPN mode, clicking on the division function when two numbers are in the stack does nothing.  Clicking a second time erases the second number.

**Steps to reproduce**
Type  a number, press enter, type a second number, press divide. Nothing happens.

**Expected behaviour**
Result of first number divided by second number.

**Other info

[2022-06-08 12:25] shenghuang147 opened #772 "cpuload@kimse - Suggest adding styles"
[code]

**Author list:** [kimse](https://github.com/linuxmint/cinnamon-spices-desklets/tree/master/cpuload@kimse)

**Notify author of desklet**
@kimse

**Expected behaviour**

Hello developers, thank you for your selfless contributions;
I have a suggestion, monitor style suggest adding bar style
Because the circular style takes up too much space on the desktop for computers with multiple CPU cores

[2022-06-10 20:16] mtwebster opened #775 "Information for transitioning spices for Cinnamon 5.4"
Hi, please see:
[Cinnamon 5.4 Transition - API Changes.pdf](https://github.com/linuxmint/cinnamon-spices-applets/files/8882016/Cinnamon.5.4.Transition.-.API.Changes.pdf)

Original (Google Docs):
https://docs.google.com/spreadsheets/d/1AHbuhi5bnlN_O0JP0O-rmgbN50IBHqZm74w6A1TL8Nk/edit#gid=0

Any questions or confusion (or things we missed that should be in that document) ask here we'll try to answer

[2022-06-25 03:46] sola1121 opened #779 "simple-system-monitor@ariel - Chinese characters cannot be aligned with scaned data"
simple-system-monitor@ariel

[code]
Desklet version/Build data (1.0.1/2021-12-09 12:57:56)
Cinnamon version (Cinnamon 5.2.7)
Distribution - (Linux mint 20.3 una)
Linuxmint 20.3 una

**Notify author of desklet**
@arielandrade

**Issue**

 Chinese characters cannot be aligned with scaned data.

Act like the picture.

**Steps to reproduce**

**Expected behaviour**

**Other information**
![2022-06-25

[2022-07-11 18:28] teto90 commented on #760
Any news about the new release?

Stefano

On 17/05/22 00:41, Thomas Egli wrote:

[2022-07-30 23:50] #702 closed

[2022-08-10 08:37] fredcw opened #781 "[soundBox@scollins] Volume slider has stopped working"
Clicking with mouse on volume slider no longer does anything since cinnamon 5.4.x

Clutter.grab_pointer() not available in cinnamon 5.4.x

@collinss

[2022-08-11 17:23] collinss commented on #781
I haven't used this desklet in years. I've been meaning to remove myself as the maintainer of it for a while, but never got around to it. As with the sticky note applet, you're welcome to make whatever changes you'd like to this desklet.

[2022-08-20 10:56] PRSoftware opened #782 "system-monitor-graph@rcassani: new version 1.4 stops working for HDD"
@rcassani

Linux Mint 21 Cinnamon

After upgrading the desklet from version 1.3 to version 1.4, it stops functioning for HDD if the "Filesystem to monitor" is configured as "/" (the root directory of the filesystem).

Error is logged in Looking Glass :

[code]
It is ok if this parameter is set to any directory inside the filesystem.

[2022-08-20 13:35] rcassani commented on #782
Hey @PRSoftware, it seems is the `Filesystem` label that is returned when doing `$ df /`

Does the problem persist if you put a `Filesystem label` as below?

![image](https://user-images.githubusercontent.com/8238803/185748596-b3726322-e8d8-4932-9c35-d6a7403aebf8.png)

[2022-08-20 14:38] PRSoftware commented on #782
Hello Raymundo,

Thanks for your quick answer.

The result of the "df /" command is (my system is configured in French):

[code]

I cannot change the "Filesystem label" parameter in the interactive configuration window because the desklet is frozen as soon as I select the root filesystem ("/") in the "Filesystem to monitor" parameter.

To identify and correct the problem, I have manually edited th

[2022-08-20 17:01] thegli commented on #760
The PR was merged today :smiley: Let me know if the problem you reported is fixed with the new version.

[2022-08-30 07:56] fredcw opened #786 "[covid-19-india@sujitagarwal] Remove desklet?"
@sujitagarwal

Is this desklet still relevant/useful?

The last updated covid stats seem to be from august 2021 and the website is no longer being updated.

Also, it doesn't seem to work in mint 21, I tried it in a virtual live session and it froze.

[2022-08-30 08:04] fredcw opened #787 "[covid19@india] Remove desklet?"
@OnlineLearningTutorials

Is this desklet still relevant/useful?

The last updated covid stats seem to be from august 2021 and the website is no longer being updated.

[2022-08-30 15:57] OnlineLearningTutorials commented on #787
deleted

[2022-09-02 22:19] #787 closed

[2022-09-07 04:22] zeigerpuppy opened #794 "Feature Request: Desklet to show web page"
It would be great to have a desklet that can be configured to show a webpage.

This could be used for monitoring dashboards or other uses (a weather radar site for instance).

## Suggested Functionality

- set URL
- set to remember password if required for website
- set X/Y size of desklet window
- set zoom factor of website

[2022-09-07 14:42] fredcw commented on #794
better-backgrounds applet will show a web page as background but the other features are not present - no auto update, no password, no resize or zoom.

[2022-09-08 03:23] zeigerpuppy commented on #794
thanks @fredcw, that would be a good alternative for some use cases.

However, the use-case for a web-based dashboard is a bit different and would require authentication at least.  Another alternative may be pinning a frameless web browser window.  I seem to remember there's a method for doing that somehow...

[2022-09-08 08:08] fredcw commented on #794
I've occasionally thought that this would be a good idea myself. Then you could have a constantly updating webcam image as your background for instance. I don't know how this could be done though.

[2022-09-08 09:05] zeigerpuppy commented on #794
This program pins a window to the background... may be a starting point:

https://github.com/ujjwal96/xwinwrap

found that from this [reddit thread](https://www.reddit.com/r/linuxquestions/comments/ttk7ac/is_it_possible_to_have_a_browser_tab_as_desktop/)

although, it doesn't stay pinned when using the cinnamon "show the desktop" option in hotcorners...

would be nice to be able to show desktop an

[2022-09-08 09:17] zeigerpuppy commented on #794
actually looks like the `-fdt` option does make it stick to the background

e.g.:

[code]

[2022-09-08 09:19] zeigerpuppy commented on #794
apparently something like this can also be used to remove the UI elements from a (Firefox) window:

https://github.com/furycd001/dots/blob/master/Firefox/webview.css

So looks close to a solution...

[2022-09-13 08:18] wolfpackmars2 opened #796 "Command Result Desklet Feature Request: Center Command Result Text"
[code]

**Notify author of desklet**
@ZimiZones

**Issue**
Feature request: Option to center text (Currently only align left/right);

Optional feature request: Option to hide label (can currently be done by setting label to empty)

**Expected behaviour**
Command output text is centered

[2022-09-23 17:03] thegli commented on #760
@teto90 Any chance to re-test?

[2022-09-25 17:29] teto90 commented on #760
Ciao,

What do I need to test? A new version?

Explain me and I'll sure try to help you

Stefano

23 set 2022 19:03:24 Thomas Egli ***@***.***>:

[2022-09-25 18:57] thegli commented on #760
Yes please, the current version (0.8.2) distributed via Update Manager.

[2022-09-26 00:45] fblais opened #797 "Bug with Hide decorations?"
* Desklet version/Build date (to be found in "About.." or in "metadata.json"): 0.6 (2022-06-03 07:18:42)
 * Cinnamon version (cinnamon --version): 5.4.12
 * Distribution - (Mint 17.2, Arch, Fedora 25, etc...): LMDE5

**Issue**
Don't know what happened, with the desklet was transparent until today, the wallpaper was clearly visible.
Now the background of the desklet seems 50% transparent.

![CPUloa

[2022-09-26 00:52] fblais commented on #797
Ok just found the bug!
It was the Cinnamon theme that I had changed to Materia Dark.
I changed to Mint-Y-Dark and voilà it works ok.

[2022-09-26 00:52] #797 closed

[2022-10-13 02:34] Ne2hpmbw opened #798 "How do I customize to displays seconds too? Thank you! Enhancement"
[code]

**Notify author of desklet**
@

**Issue**

**Steps to reproduce**

**Expected behaviour**
Display seconds along with the rest of the "time" information.

**Other information**

[2022-10-29 20:42] bignexus opened #811 "Google Calender"
[code]

**Notify author of desklet**
@slgobinath

**Issue**
W: http://ppa.launchpad.net/slgobinath/gcalendar/ubuntu/dists/jammy/InRelease: key is stored in deprecated trusted.gpg keychain (/etc/apt/trusted.gpg), see the DEPRECIATION section in apt -key(8) for details.

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2022-11-14 08:26] #758 closed

[2022-11-14 17:44] MisterDiodes opened #813 "Feature request (?) - Disable "Add Desklets" for non-admin users"
* Cinnamon version 5.2.x,  ~ 5.4
 * Distribution - Testing in Mint 20.3, 21
* Hardware - any
**Issue**

This may be due to lack of knowledge on how to manage desklets for a workplace Linux machine, but we need a way to outright disable desklets / applets - or at least we need a way to HIDE the "Add Desklets" (or Add Applets) on the desktop / panel Alt-Click menu (for non-admin users).

The system